:host {
  h4 {
    margin: 0;
    margin-bottom: 5mm;
    font-weight: 600;
  }

  p {
    margin: 0;
    margin-bottom: 5mm;
    font-size: 4mm;
  }

  svg {
    margin: auto;
    width: 100%;
  }
}

@media print {
  :host {
    svg {
      margin: 0 auto;
      height: 22.5cm;
      break-after: avoid-page;
    }
  }
}
