<h4 [innerHTML]="header" [ngClass]="{'no-message': (message === null) }"></h4>
<div *ngIf="message"><p [innerHTML]="message"></p></div>
<div class="buttonPane" [ngClass]="buttonsClass !== null ? buttonsClass : ''">
  <button mat-flat-button color="{{ matColorCancel }}" [ngClass]="cancelClass" (click)="cancel()">{{
    cancelText || ('confirmation-modal.cancel' | translate)
    }}</button>
  <button mat-flat-button color="{{ matColorConfirm }}" [ngClass]="confirmClass" (click)="confirm()">{{
    confirmText || ('confirmation-modal.confirm' | translate)
    }}</button>
</div>
