@import '../../../styles/constants';
@import '../../../styles/hav-colors';
@import '../../../styles/margins';

:host {
  .switch {
    position: relative;
    display: inline-block;
    width: 4.3rem;
    height: 1.8rem;
    overflow: visible;
    margin: 0.8rem;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: #B1D5E8;

        &:before {
          transform: translateX(2.5rem);
        }
      }

      &:focus + .slider {
        box-shadow: 0 0 1px #B1D5E8;
      }

      &:checked + .slider:before {
        background-color: $hav-turquoise;
      }

      &:not(:checked):hover + .slider:before {
        border: 2px solid $hav-turquoise;
        left: calc(-0.4rem - 2px);
        top: calc(-0.4rem - 2px);
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: darkgrey;
      transition: .4s;
      border-radius: 3.4rem;

      &:before {
        position: absolute;
        content: "";
        height: 2.5rem;
        width: 2.5rem;
        left: -0.4rem;
        top: -0.4rem;
        background-color: #eee;
        transition: background-color .4s;
        transition: transform .4s;
        box-shadow: 0px 0px 1px #0000002E;
        border-radius: 50%;
      }
    }
  }
}
