<h3>{{ 'map.user-area.rename.modal.title' | translate }}</h3>
<input
  [value]="areaName"
  (input)="onChange($event.target.value)"
  [placeholder]="'map.user-area.rename.modal.placeholder' | translate"
/>
<div>
  <button mat-flat-button color="warn" (click)="close()">{{
    'map.user-area.rename.modal.close' | translate
  }}</button>
  <button mat-flat-button
    (click)="save()"
    [disabled]="areaName.length === 0 || !hasChanged"
    >{{ 'map.user-area.rename.modal.save' | translate }}</button>
</div>
