@import '../../../../styles/constants';
@import '../../../../styles/hav-colors';
@import '../../../../styles/margins';

:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 2rem;
  width: 30rem;

  h3 {
    color: $hav-black;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.4rem;
  }

  input {
    outline: none;
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: 1px solid $hav-darkwarmgrey;
  }

  div {
    display: flex;
    justify-content: flex-end;

    hav-button:first-child {
      margin-right: 1.4rem;
    }
  }
}
