<script src="@src/app/data/area/area.service.ts"></script><h3>{{ 'map.user-area.create.modal.title' | translate }}</h3>
<input
  [value]="areaName"
  (input)="onChange($event.target.value)"
  [placeholder]="'map.user-area.create.modal.placeholder' | translate"
/>
<div>
  <button mat-flat-button color="warn" (click)="close()">{{
    'map.user-area.create.modal.close' | translate
  }}</button>
  <button mat-flat-button (click)="save()" [disabled]="areaName.length === 0">{{
    'map.user-area.create.modal.save' | translate
  }}</button>
</div>
