<li *ngIf="band">
  <div class="controls">
    <mat-checkbox
      [checked]="band.selected"
      [disabled]="!selectedArea"
      (change)="onSelect($event, band.statePath)"
      checkboxSize="small"
    >{{ band.displayName }}</mat-checkbox>
    <div class="editing">
      <button
        *ngIf="hasPublicMeta"
        (click)="showMetaDialog()"
        [title]="'map.metadata.label' | translate"
        data-active="true"
      >
        <app-icon iconType="info-circle"></app-icon>
      </button>
      <button
        (click)="toggleOpen()"
        [disabled]="!selectedArea || !scenario"
        [attr.data-active]="open"
        [attr.aria-label]="'map.editor.band-pressures.intensity-label' | translate"
        [title]="!scenario ?( 'map.editor.band-pressures.no-scenario-selected' | translate) : ''"
      >
        <app-icon iconType="sliders"></app-icon>
      </button>
      <app-icon
        class="toggle-visibility-icon"
        [attr.data-visible]="band.visible"
        [iconType]="band.visible ? 'eye' : 'eye-slash'"
        (click)="onChangeVisible(!band.visible, band.statePath)"
      ></app-icon>
    </div>
  </div>
  <app-eco-slider
    *ngIf="open && (selectedArea || band.visible)"
    [band]="band"
    [multiplier]="multiplier"
    [offset]="offset"
    [statePath]="band.statePath"
    [selectedArea]="selectedArea"
    [areaIsVisible]="band.visible"
  ></app-eco-slider>
</li>
