@import 'src/styles/constants';
@import 'src/styles/hav-colors';
@import 'src/styles/margins';

:host {
  li {
    display: grid;
    row-gap: 1rem;
    padding: 0.4rem 0;
  }
  .controls {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .editing {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;

      mat-spinner {
        margin-right: 1rem;
      }

      button {
        height: 24px;
        width: 24px;
        background: none;
        border: none;
        padding: 0;
        outline: none;
        margin-right: 0.4rem;
        cursor: pointer;

        app-icon {
          font-size: 2.4rem;
          color: rgba(0,0,0,0.87);
        }

        &[data-active='true'] {
          app-icon {
            color: $hav-turquoise;
          }
        }

        &:disabled {
          opacity: 0.5;
        }
      }
      .toggle-visibility-icon {
        font-size: 1.8rem;
        width: 1.8rem;
        &[data-visible='true'] {
          color: $hav-turquoise;
        }
        cursor: pointer;

        &.disabled-while-loading {
          cursor: default;
          opacity: 0.5;
        }
      }
    }

    ::ng-deep mat-checkbox .mat-checkbox-layout {
      .mat-checkbox-label {
        white-space: pre-wrap;
        word-wrap: break-word;
        max-width: 216px;
        line-height: 16px;
      }
    }
  }
}
