<li *ngIf="band">
  <div class="controls">
    <mat-checkbox
      [name]="band.symphonyCategory + '_' + band.bandNumber"
      [checked]="band.selected"
      [disabled]="disabled"
      (change)="onSelect($event, band)"
      checkboxSize="small"
    >{{ currentBandTitle(band) }}</mat-checkbox>
    <div class="editing">
      <app-icon-button *ngIf="!scenario && groupVisible && band.alternativeBands.length > 0"
                       [icon]="'switch'"
                       [label]="'Alternativ banddata tillgänglig'"
                       class="switch-indicator"
                       (iconClick)="alternativesVisible = true"
      ></app-icon-button>
      <ul *ngIf="alternativesVisible" class="alt-bands-list" (mouseleave)="alternativesVisible = false">
        <li *ngFor="let altBand of band.alternativeBands">
          <button (click)="setAlternativeBand(band, altBand)">
            <span>{{ altBand.title }}</span>
            <fa-icon [icon]="faCheck" *ngIf="band.altId === altBand.altId"></fa-icon>
          </button>
        </li>
      </ul>
      <button
        *ngIf="hasPublicMeta"
        (click)="showMetaDialog()"
        [title]="'map.metadata.label' | translate"
        data-active="true"
      >
      <app-icon iconType="info-circle"></app-icon>
      </button>
      <mat-spinner *ngIf="band.visible && !band.loaded" [diameter]="18" [strokeWidth]="2">
      </mat-spinner>
      <button
        (click)="toggleOpen()"
        *ngIf="!(disabled || !scenario)"
        [attr.data-active]="open"
        [attr.aria-label]="'map.editor.band-pressures.intensity-label' | translate"
      >
        <app-icon iconType="sliders"></app-icon>
      </button>
      <app-icon
        class="toggle-visibility-icon"
        [ngClass]="{'disabled-while-loading' : band.visible && !band.loaded }"
        [attr.data-visible]="band.visible && band.loaded"
        [iconType]="band.visible ? 'eye' : 'eye-slash'"
        (click)="onChangeVisible(!band.visible, band)"
      ></app-icon>
    </div>
  </div>
  <app-eco-slider
    *ngIf="open && (!disabled || band.visible)"
    [band]="band"
    [multiplier]="getMultiplier()"
    [offset]="getOffset()"
    [overridden] = "!isEmpty(overriddenChange)"
    [disabled]="disabled"
    [areaIsVisible]="band.visible"
    [groupSetting]="getGroupSetting()"
  ></app-eco-slider>
</li>
