<h4>{{ 'map.confirm-reset.modal.header' | translate }}</h4>
<p *ngIf="!activeScenario">{{ 'map.confirm-reset.modal.message' | translate }}</p>
<p *ngIf="activeScenario">{{ 'map.confirm-reset.modal.message-scenario' | translate: { scenario: activeScenario.name } }}</p>
<div>
  <button mat-flat-button [ngClass]="'secondary'" (click)="close()">{{
    'map.confirm-reset.modal.cancel' | translate
    }}</button>
  <button mat-flat-button (click)="confirm()">{{
    'map.confirm-reset.modal.confirm' | translate
    }}</button>
</div>
