:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 2rem;
  min-width: 32rem;
  max-width: 34rem;

  h4 {
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
  }

  div {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;

    > hav-button {
      margin-right: 1.4rem;
    }
  }
}
