<app-selection-layout
  [title]="title"
  [selectedScenarioName]="(scenarioDisplayNames | async)?.scenarioName"
  [selectedAreaName]="(scenarioDisplayNames | async)?.activeAreaName"
  [searchLabel]="label | translate"
  [searchValue]="search"
  [onSearch]="onSearch"
  [searchPlaceholder]="placeholder | translate"
  [showResetButton]="true"
  >

  <app-summary-model-selection
    [bandTypesCategory]=bandType
    [scenarioActive]="!!(scenarioDisplayNames | async)?.scenarioName"
  ></app-summary-model-selection>

  <div class="select-all-wrapper">
    @if ((scenarioDisplayNames | async)?.scenarioName !== undefined && title) {
      <mat-checkbox
        class="select-all-checkbox"
        [checked]="allBoxesAreChecked"
        [indeterminate]="someBoxesAreChecked"
        (change)="updateAll()"
      >{{ (allBoxesAreChecked? 'map.intensity.deselect-all' : 'map.intensity.select-all') | translate }}</mat-checkbox>
    }
  </div>

  @for (group of filteredGroups; track displayName($index, group)) {
    <app-checkbox-accordion
      [title]="group.symphonyThemeName"
      [category]="bandType === 'ecoComponents' ? 'ECOSYSTEM' : 'PRESSURE'"
      [bands]="group.bands"
      [searching]="search.length > 0"
      [change]="onChange"
      [changeVisible]="onChangeVisible"
      [changeVisibleReliability]="onChangeVisibleReliability"
      [scenarioActive]="!!(scenarioDisplayNames | async)?.scenarioName"
    ></app-checkbox-accordion>
  }
  @if (filteredGroups.length === 0) {
    <p>{{ 'map.eco-component.search.no-matches' | translate}}</p>
  }
</app-selection-layout>
