<app-selection-layout
  [title]="title"
  [selectedScenarioName]="(scenarioDisplayNames | async)?.scenarioName"
  [selectedAreaName]="(scenarioDisplayNames | async)?.activeAreaName"
  [searchLabel]="label | translate"
  [searchValue]="search"
  [onSearch]="onSearch"
  [searchPlaceholder]="placeholder | translate"
  [showResetButton]="true"
>
  <app-checkbox-accordion
    *ngFor="let group of filteredGroups; trackBy: displayName"
    [title]="group.symphonyThemeName"
    [category]="bandType === 'ecoComponents' ? 'ECOSYSTEM' : 'PRESSURE'"
    [bands]="group.bands"
    [searching]="search.length > 0"
    [change]="onChange"
    [changeVisible]="onChangeVisible"
    [scenarioActive]="!!(scenarioDisplayNames | async)?.scenarioName"
  ></app-checkbox-accordion>
  <p *ngIf="filteredGroups.length === 0">{{ 'map.eco-component.search.no-matches' | translate}}</p>
</app-selection-layout>
