@use 'src/styles/constants' as cns;

:host {
  display: flex;
  flex-direction: column;

  app-header {
    left: 0;
    position: absolute;
    right: 0;
  }

  .overlay-content {
    position: fixed;
    z-index: 10000;

    @media screen and (max-width: 800px) {
      bottom: 0;
      left: 0;
      margin-top: 0;
      max-height: calc(100% - #{cns.$header-height});
      right: 0;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    z-index: 1;
  }

  app-header ~ .main-content,
  app-header ~ .overlay-content {
    margin-top: cns.$header-height;
  }

  .loading-overlay {
    z-index: 10000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.40);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
