
# IDEs and editors
/.idea
/.run
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.factorypath
*.iml

# Build output
target

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
*.code-workspace
*.war
