:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50rem;
  border-radius: 4px;
  padding: 2rem;

  h3 {
    margin: 0 0 1.4rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0 0.8rem;
  }

  p {
    margin: 0;
  }

  ::ng-deep mat-form-field.mat-mdc-form-field {
    margin-top: 1rem;

    .mat-mdc-text-field-wrapper {
      padding: 0 0 0.4rem;
    }

    label.mat-mdc-floating-label {
      transform: none;
      font-size: 1.5rem;
      top: 0;
      padding: 1.4rem 1.2rem;
    }

    mat-radio-button {
      font-size: 14px;
    }

    .scenario-select {
      width: 97%;
      margin-bottom: 1.4rem;
    }

    &.ng-dirty {
      label.mat-mdc-floating-label {
        display: none;
      }
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }

  .area-selection {
    margin-bottom: 2rem;
  }

  section.buttons {
    text-align: center;
    margin-top: 2rem;
  }
}

::ng-deep .select-scenario-transfer-panel {
  margin-top: -14px;
}
