<div class="header-top">
  <div class="header-overlay"></div>
  <h1>
    {{ title }}
  </h1>
  @if (brandingService.configData.showLogos && brandingService.configData.flagSrc) {
    <img
      class="flag"
      [src]="brandingService.configData.flagSrc"
      [alt]="brandingService.configData.flagAlt"/>
  }
  @if (baseline$ | async; as baseline) {
    <span class="baseline-badge">{{ baseline.title || baseline.name }}</span>
  }
  <app-user-menu-toggle
    [user]="user$ | async"
    (click)="toggleOpenMenu('USER')"
  ></app-user-menu-toggle>
</div>
<div
  class="header-menu-container"
  [class.is-open]="openState !== 'NONE'"
>
  @if (openState === 'USER') {
    <app-menu
      @openCloseMenu
      (navigate)="onMenuNavigation()"
      [menuItems]="(isLoggedIn$ | async) ? logOutUserMenu : logInUserMenu"
      menuLabel="Användarmeny"
    ></app-menu>
  }
</div>
