<section>
  <h2>{{ 'map.compare.title' | translate }}</h2>

  <div class="container">
    <form [formGroup]="compareForm" (ngSubmit)="submit()">
      <article>
        <h3>{{'map.compare.base-scenario' | translate }}</h3>
        <mat-radio-group class="set-implicit-wrapper" (change)="setImplicit($event)">
          <mat-radio-button class="small"
                            [value]="true"
                            [checked]="useImplicit">{{
            'map.compare.implicit-baseline' | translate
          }}</mat-radio-button>
          <mat-radio-button class="small"
                            [value]="false"
                            [checked]="!useImplicit">{{
            'map.compare.explicit-baseline' | translate
          }}</mat-radio-button>
        </mat-radio-group>
        <div class="select-base-wrapper" [ngClass]="{'hidden' : useImplicit }">
          <mat-select #base [placeholder]="'map.compare.select-calculation' | translate"
                      (valueChange)="changeBase($event)" [panelClass]="{ 'ddPanel cmp': true }">
            <mat-option *ngFor="let c of calculations$ | async" [value]="c.id"
                        [ngClass]="{ 'purged' : c.isPurged }">{{ c.name }}</mat-option>
          </mat-select>
        </div>
        <mat-checkbox name="reverseProjected"
                      (change)="setReverseProjected($event)"
                      *ngIf="useImplicit"
        >{{
            'map.compare.reverse-projected' | translate
          }}</mat-checkbox>
      </article>

      <article>
        <h3>
          {{'map.compare.what-if-scenario' | translate }}
          <mat-spinner *ngIf="loadingCandidates" [diameter]="14"></mat-spinner>
        </h3>
        <mat-select #candidates formControlName="b" class="target-calculation" required
          [placeholder]="targetScenarioPlaceHolderKey(this.useImplicit || (candidates$ | async)?.length) | translate"
          [disabled]="!this.useImplicit && !(candidates$ | async)?.length"
          [panelClass]="'ddPanel cmp'">
          <mat-option *ngFor="let c of candidates$ | async" [value]="c.id"
                      [ngClass]="{ 'purged' : c.isPurged }">{{ c.name }}
          </mat-option>
        </mat-select>
        <mat-checkbox name="includeUnchanged"
                      [disabled]="useImplicit"
                      [checked]="includeUnchanged"
                      (change)="setIncludeUnchanged($event.checked)"
        >{{
            'map.compare.include-unchanged' | translate
          }}</mat-checkbox>
      </article>
    </form>
  </div>
  <div class="container select-scale">
    <h4>{{ 'map.compare.select-scale' | translate }}</h4>
    <article>
      <div class="scale-constant">
        <!-- Numeric input field prevents using a radio-group bound with ngModel -->
        <mat-radio-button name="scaleOption"
                          (change)="setComparisonScale($event)"
                          [value]="ScaleOptions.CONSTANT"
                          [checked]="selectedScale === ScaleOptions.CONSTANT">
          {{ 'map.compare.scale-constant' | translate }}
        </mat-radio-button>
        <input
         type="number"
         value="45"
         class="percentage"
         min="0"
         max="999"
         step="1"
         [(ngModel)]="constant"
         [disabled]="selectedScale !== ScaleOptions.CONSTANT"
        />
      </div>
      <mat-radio-button name="scaleOption"
                        (change)="setComparisonScale($event)"
                        [value]="ScaleOptions.DYNAMIC"
                        [checked]="selectedScale === ScaleOptions.DYNAMIC">
        {{ 'map.compare.scale-dynamic' | translate }}
      </mat-radio-button>
  </article>
  </div>
</section>

<!--TODO: show some calculation metadata?-->
<div class="toolbar">
  <button mat-flat-button id="compare" (click)="submit()" [disabled]="compareForm.invalid">
    {{ 'map.compare.compare' | translate }}
  </button>
</div>



