<section>
  <h2>{{ 'map.compare.title' | translate }}</h2>

  <div class="container">
    <form [formGroup]="compareForm" (ngSubmit)="submit()">
      <article>
        <h3>{{'map.compare.base-scenario' | translate }}</h3>
        <span class="suggestion">{{'map.compare.base-scenario-suggestion' | translate }}</span>
        <mat-select [placeholder]="'map.compare.choose-scenario' | translate" formControlName="a"
                    (valueChange)="changeBase($event)" required="true" [panelClass]="'ddPanel cmp'">
          <mat-option *ngFor="let c of calculations$ | async" [value]="c.id">{{ c.name }}</mat-option>
        </mat-select>
      </article>

      <article>
        <h3>
          {{'map.compare.what-if-scenario' | translate }}
          <mat-spinner *ngIf="loadingCandidates" spinnerSize="small"></mat-spinner>
        </h3>
        <span class="suggestion">{{'map.compare.what-if-scenario-suggestion' | translate }}</span>
        <mat-select #candidates formControlName="b" selectSize="large" required
                    [placeholder]="'map.compare.choose-base-scenario-first' | translate" [panelClass]="'ddPanel cmp'">
          <mat-option *ngFor="let c of candidates$ | async" [value]="c.id">{{ c.name }}</mat-option>
        </mat-select>
      </article>
    </form>
<!--
   <div *ngIf="compareForm.errors?.identicalCalculations && (compareForm.touched || compareForm.dirty)"
         class="cross-validation-error-message alert alert-danger">
      A calculation cannot be compared with the same calculation.
    </div>
-->
  </div>
  <div class="container select-scale">
    <h4>{{ 'map.compare.select-scale' | translate }}</h4>
    <article>
      <mat-radio-group (change)="setComparisonScale($event.value)">
        <mat-radio-button [value]="ScaleOptions.CONSTANT"
                          [checked]="selectedScale == ScaleOptions.CONSTANT">
          {{ 'map.compare.scale-constant' | translate }}
        </mat-radio-button>
        <mat-radio-button [value]="ScaleOptions.DYNAMIC"
                          [checked]="selectedScale == ScaleOptions.DYNAMIC">
          {{ 'map.compare.scale-dynamic' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </article>
  </div>
</section>

<!--TODO: show some calculation metadata?-->
<div class="toolbar">
  <button mat-flat-button id="compare" (click)="submit()" [disabled]="compareForm.invalid">
    {{ 'map.compare.compare' | translate }}
  </button>
</div>



