$xxs-margin: 0.5rem;
$xs-margin: 1rem;
$s-margin: 1.5rem;
$m-margin: 2rem;
$l-margin: 2.5rem;
$xl-margin: 3rem;
$xxl-margin: 3.5rem;
$xxxl-margin: 4rem;

$mobile: 'screen and (max-width: 768px)';
$tablet: 'screen and (min-width: 768px) and (max-width: 1024px)';
$desktop: 'screen and (min-width: 1024px) and (max-width: 1824px)';
$large-desktop: 'screen and (min-width: 1824px)';
