@import "hav-colors";

button.mdc-button.mat-mdc-unelevated-button,
button.mdc-button.mat-mdc-unelevated-button.mat-primary {
  color: white;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5px;
  border: 2px solid $primary-border-blue;
  background-color: $hav-turquoise;
  border-radius: 2px;
  padding: 0 16px;
  margin-left: 1rem;

  &[disabled]:not(.secondary) {
    border-color: white;

    &.mat-warn {
      background-color: $alert-disabled-bg-red;
      color: $alert-disabled-text-red;
    }

    &:hover {
      background-color: $primary-disabled-bg-grey;
      color: $primary-disabled-text-blue !important;
      &.mat-warn {
        color: $alert-disabled-text-red !important;
      }
    }
  }

  &.mat-warn {
    background-color: $alert-bg-red;
    border-color: $alert-bg-red;
  }

  &.green {
    background-color: $success-bg-green;
    border-color: $success-bg-green;
  }

  &.basic, &.basic.secondary {
    border-color: white;
  }

  &:hover, &.secondary:hover, &.basic:hover {
    background-color: $primary-hover-bg-blue;
    border-color: $primary-border-blue;
    color: white !important;

    &.mat-warn:not([disabled]) {
      background-color: $alert-hover-bg-red;
      border-color: $alert-hover-bg-red;
    }

    &.green:not([disabled]) {
      background-color: $success-hover-bg-green;
      border-color: $success-hover-bg-green;
    }
  }

  &.secondary, &.basic {
    background-color: white;
    color: $primary-border-blue;

    &.mat-warn {
      border-color: $alert-bg-red;
      color: $alert-bg-red;
    }
  }

  &[disabled], &[disabled]:hover {
    background-color: $primary-disabled-bg-grey !important;
    color: $primary-disabled-text-blue !important;
  }

  &.secondary[disabled], &.secondary[disabled]:hover {
    background-color: white !important;
    border-color: $primary-disabled-text-grey;
    color: $primary-disabled-text-grey !important;
  }
}

mat-select,
.mat-form-field-appearance-fill mat-select {
  display: flex !important;
  height: 44px;
  align-items: center;
  border: 2px solid $primary-bg-blue;
  padding-left: 7px;
  font-size: 15px;
  color: black;

  .mat-mdc-select-value {
    .mat-mdc-select-placeholder, .mat-mdc-select-min-line {
      font-size: 1.4rem;
      color: black;
    }
  }

  &.mat-mdc-select-disabled {
    border-color: $primary-disabled-border-grey;

    .mat-mdc-select-value {
      .mat-mdc-select-placeholder {
        color: $primary-disabled-text-blue;
      }
    }
  }

  .mat-mdc-select-arrow-wrapper {

    transform: unset;

    .mat-mdc-select-arrow {
      display: none;
    }

    &:after {
      content: url("../assets/chevron-down.svg");
      zoom: 0.65;
      width: 40px;
    }
  }

  &.tiny {
    height: 28px;
    font-size: 10px;

    .mat-mdc-select-value {
      .mat-mdc-select-placeholder {
        font-size: 1.1rem;
      }
    }

    .mat-select-arrow-wrapper:after {
      zoom: 0.38;
      width: 50px;
    }
  }

  &[aria-expanded="true"] {
    .mat-mdc-select-arrow-wrapper:after {
      transform: scaleY(-1) translateY(4px);
    }
  }
}

.cdk-overlay-container {

  /* Material dropdown bug, workaround / effective solution */
  z-index: 100000 !important;
  position: absolute;

  .cdk-overlay-pane {
    .mat-mdc-select-panel {
      background-color: white;

      .mat-mdc-option {
        font-size: 1.6rem;

        &:hover:not(.mdc-list-item--disabled),
        &:focus:not(.mdc-list-item--disabled) {
          background: rgba(0,0,0,.04)
        }
      }
    }
  }
}

mat-checkbox.mat-mdc-checkbox {
  &.mat-mdc-checkbox-checked, &.mat-mdc-checkbox-indeterminate {
    .mdc-form-field {
      .mdc-checkbox .mdc-checkbox__native-control~.mdc-checkbox__background {
        color: $hav-turquoise;
        background-color: $hav-turquoise;
        border-color: $hav-turquoise;
        svg.mdc-checkbox__checkmark {
          color: white;
        }
      }
    }
  }

  &.mdc-checkbox--disabled {
    &.mat-mdc-checkbox-checked {
      .mdc-form-field {
        .mdc-checkbox {
          background-color: #b0b0b0;
        }
      }
    }

    .mdc-form-field {
      .mdc-checkbox, .mdc-checkbox__background,
      .mdc-checkbox .mdc-checkbox__native-control[disabled]:indeterminate~.mdc-checkbox__background,
      .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true][disabled]~.mdc-checkbox__background {
        color: #b0b0b0;
        background-color: white;
        border-color: #b0b0b0;

        .mdc-checkbox__mixedmark {
          border-color: #b0b0b0;
        }
      }

      label.mdc-label {
        color: $primary-disabled-text-grey;
      }
    }
  }

  .mdc-form-field {
    label.mdc-label {
      font-size: 13px;
      margin-left: 0.5rem;
    }
  }
}

mat-radio-button {
  display: flex;
  height: 3rem;
  margin: 0.25rem 0;
  font-size: 1.6rem;

  &.mat-mdc-radio-checked {
    .mdc-form-field {
      .mdc-radio {
        .mdc-radio__background {
          color: $hav-turquoise;
        }
      }
    }
  }

  .mdc-form-field {
    .mdc-radio {

    }
  }
}

.cdk-overlay-container .cdk-overlay-pane .mat-mdc-select-panel.ddPanel,
.ddPanel {
  margin: 14px 0 0 -8px;
  min-width: calc(100% + 8px) !important;
  border: 1px solid $primary-bg-blue;
  border-radius: 0 !important;

  mat-option.mat-mdc-option {
    &.mat-active {
      background: white !important;
      .mat-option-text {
        color: $primary-bg-blue;
        font-weight: 600;
      }
    }

    &:not(.mat-active):hover {
      .mat-option-text {
        color: $primary-bg-blue;
      }
    }
  }

  &.tiny {
    margin-top: 6px;
    margin-left: -8px;

    mat-option {
      font-size: 10px;
    }
  }
}

.mat-mdc-radio-button {
  .mdc-radio:not(.mdc-radio--disabled) .mat-radio-ripple.mat-mdc-focus-indicator .mat-radio-persistent-ripple {
    transition: opacity 0ms;
    opacity: 0 !important; /* hide material "focus indicator", deemed distracting */
    display: none;
  }

  .mdc-radio.mdc-radio--disabled {
    .mdc-radio__background {
      .mdc-radio__outer-circle, .mdc-radio_inner_circle {
        border-color: $primary-disabled-text-grey !important;
      }
    }

    & + label {
      color: $primary-disabled-border-grey
    }
  }
}

.mat-mdc-form-field .mdc-line-ripple {
  display: none;
}

input[type='number'].percentage {
  background-image: url("~src/assets/percent-glyph.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 4.5rem 48%;
  text-align: left;
  padding-left: 1rem;
  width: 8rem;
}

/* Material progress spinner */
.mat-mdc-progress-spinner circle {
  stroke: $hav-turquoise;
}
