@import "hav-colors";

$symphony-palette: (
  50: #e8eaf6,
  100: $primary-disabled-bg-grey,
  200: $primary-hover-bg-blue,
  300: $primary-bg-blue,
  400: $primary-hover-bg-blue,
  500: $primary-hover-bg-blue,
  600: $primary-active-blue,
  700: $primary-active-blue,
  800: $primary-active-blue,
  900: $primary-active-blue,
  A100: $primary-hover-bg-blue,
  A200: $primary-hover-bg-blue,
  A400: $primary-hover-bg-blue,
  A700: $primary-hover-bg-blue,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: gray,
    600: gray,
    700: gray,
    800: gray,
    900: gray,
    A100: black,
    A200: gray,
    A400: gray,
    A700: gray,
  )
);

$symphony-accent-palette: (
  50: #fce4ec,
  100: #f8bbd0,
  200: #f48fb1,
  300: #f06292,
  400: #ec407a,
  500: #e91e63,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  A100: $primary-bg-blue,
  A200: $primary-bg-blue,
  A400: $primary-bg-blue,
  A700: $primary-bg-blue,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: gray,
    600: gray,
    700: gray,
    800: gray,
    900: gray,
    A100: black,
    A200: gray,
    A400: gray,
    A700: gray,
  )
);

$symphony-basic-palette: (
  50: white,
  100: white,
  200: white,
  300: white,
  400: white,
  500: white,
  600: white,
  700: white,
  800: white,
  900: white,
  A100: $primary-bg-blue,
  A200: $primary-bg-blue,
  A400: $primary-bg-blue,
  A700: $primary-bg-blue,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: gray,
    600: gray,
    700: gray,
    800: gray,
    900: gray,
    A100: black,
    A200: gray,
    A400: gray,
    A700: gray,
  )
);

$symphony-foreground-palette: (
  base:              black,
  divider:           black,
  dividers:          black,
  disabled:          $primary-disabled-text-grey,
  disabled-button:   $primary-disabled-text-blue,
  disabled-text:     $primary-disabled-text-grey,
  elevation:         black,
  hint-text:         black,
  secondary-text:    black,
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(black, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$symphony-background-palette: (
  status-bar: #e0e0e0,
  app-bar:    #f5f5f5,
  background: #fafafa,
  hover:      rgba(black, 0.04),
  card:       white,
  dialog:     white,
  disabled-button: $primary-disabled-bg-grey,
  raised-button: $hav-turquoise,
  focused-button: $hav-turquoise,
  selected-button: $hav-turquoise,
  selected-disabled-button: $primary-disabled-bg-grey,
  disabled-button-toggle: #eeeeee,
  unselected-chip: #e0e0e0,
  disabled-list-option: #eeeeee,
  tooltip: #616161,
);
