<h2>{{ 'about-dialog.system-name' | translate }} {{ buildInfo.version }}</h2>

<p>{{ 'about-dialog.build' | translate }} {{ buildInfo.buildNumber }}
  @if (buildInfo.gitSha) {
    <span> ({{ buildInfo.gitSha }})</span>
  }
</p>

<div id="third-party-container"> <!--Extract this to a separate dialog? -->
  <p>{{ 'about-dialog.third-party-software' | translate }}</p>
  <div class="scrollable">
    @for (lib of thirdPartyLibraries; track $index) {
      <p>
        <a href="{{ lib[1] }}" target="_blank">{{ lib[0] }}</a> {{ lib[2] }}
      </p>
    }
  </div>
</div>

<div class="toolbar">
  <button mat-flat-button (click)="close()">{{ 'about-dialog.close' | translate }}</button>
</div>
