@use 'src/styles/hav-colors' as colors;

:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 2rem;
  width: 50rem;

  h2 {
    color: colors.$hav-black;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 2rem;
  }

  p {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
  }

  #third-party-container {
    .scrollable {
      max-height: 12rem;
      overflow-y: scroll;
      p {
        font-size: 1.4rem;
        margin: 0;
      }
    }
  }

  .toolbar {
    padding-top: 1rem;
    display: flex;
    justify-content: center;

    ::ng-deep hav-button {
      width: 14rem;
    }
  }
}
