<h3>{{ 'map.user-area.upload.modal.title' | translate}}</h3>
<p [innerHTML]="'map.user-area.upload.modal.fileformat-note' | translate"></p>

<!--FIXME replace with custom "polygon" icon -->
<input type="file" [accept]="requiredFileType" (change)="onFileSelect($event)" #fileUpload/>

<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<ng-container>
  <div *ngIf="hasWGS84SRID" class="notice">
    <app-icon iconType="info-circle"></app-icon>
    <p [innerHTML]="'map.user-area.upload.modal.notice.WGS84-reprojection' | translate"></p>
  </div>

  <ng-container *ngIf="packageHasMultipleFeatures">
    <div class="notice">
      <app-icon iconType="info-circle"></app-icon>
      <p [innerHTML]="'map.user-area.upload.modal.notice.multi-layer-pre' | translate"></p>
    </div>
      <ul class="layer-list">
        <li *ngFor="let layerName of uploadedArea.featureIdentifiers">{{ layerName }}</li>
      </ul>
      <p class="import-all" [innerHTML]="'map.user-area.upload.modal.notice.multi-layer-all' | translate"></p>
  </ng-container>

  <div *ngIf="inspectionError" class="notice error">
    <app-icon iconType="info-circle"></app-icon>
    <p>{{ 'map.user-area.upload.error.'+inspectionError.errorCode | translate }}</p>
  </div>
</ng-container>

<div class="button-pane">
  <button mat-flat-button [ngClass]="'secondary'" (click)="cancel()">{{
    'map.user-area.upload.modal.cancel' | translate
  }}</button>
  <button mat-flat-button (click)="confirmImport()" [disabled]="!uploadedArea">{{
    'map.user-area.upload.modal.import' | translate
  }}</button>
</div>
