<h3>{{ 'map.user-area.upload.modal.title' | translate}}</h3>
<p [innerHTML]="'map.user-area.upload.modal.fileformat-note' | translate"></p>


<div [formGroup]="categoryForm">
 <label style="margin-right: 1rem; font-size: 1.5rem;" >{{ 'map.user-area.upload.modal.category' | translate }}</label>
  <select formControlName="categoryId">
      <option value="">Okategoriserad </option>
      <option *ngFor="let cat of categories" [value]="cat.id">
        {{ cat.name }}
      </option>
      <option value="__new__">+ Skapa ny kategori</option>
    </select>

    <div *ngIf="isCreatingNew">
      <input
        type="text"
        formControlName="newCategoryName"
        placeholder="Namn på ny kategori"
        style= "margin-top: 0.1rem;"
      />
    </div>
  </div>

  <input type="file" [accept]="requiredFileType" (change)="onFileSelect($event)" #fileUpload/>

  <div *ngIf="uploadedArea" style="margin-top: 0.5rem;">
    <label style="font-size: 1.5rem; display: block; margin-bottom: 0.1rem;">
      {{ 'map.user-area.upload.modal.name-placeholder' | translate }}</label>
    <input
      type="text"
      [(ngModel)]="customAreaName"
      [placeholder]="'map.user-area.upload.modal.new-name-area' | translate"
      style="width: 94%; margin-top: 0.1rem; font-size: 1.6rem; padding: 1rem 1.2rem; border-radius: 4px; border: 1px solid #ccc;"
    />
  </div>

<ng-container>
  <div *ngIf="hasWGS84SRID" class="notice">
    <app-icon iconType="info-circle"></app-icon>
    <p [innerHTML]="'map.user-area.upload.modal.notice.WGS84-reprojection' | translate"></p>
  </div>

  <ng-container *ngIf="packageHasMultipleFeatures">
    <div class="notice">
      <app-icon iconType="info-circle"></app-icon>
      <p [innerHTML]="'map.user-area.upload.modal.notice.multi-layer-pre' | translate"></p>
    </div>
      <ul class="layer-list">
        <li *ngFor="let layerName of uploadedArea.featureIdentifiers">{{ layerName }}</li>
      </ul>
      <p class="import-all" [innerHTML]="'map.user-area.upload.modal.notice.multi-layer-all' | translate"></p>
  </ng-container>

  <div *ngIf="inspectionError" class="notice error">
    <app-icon iconType="info-circle"></app-icon>
    <p>{{ 'map.user-area.upload.error.'+inspectionError.errorCode | translate }}</p>
  </div>
</ng-container>

<div class="button-pane">
  <button mat-flat-button [ngClass]="'secondary'" (click)="cancel()">{{
    'map.user-area.upload.modal.cancel' | translate
  }}</button>
  <button mat-flat-button (click)="confirmImport()" [disabled]="!uploadedArea">{{
    'map.user-area.upload.modal.import' | translate
  }}</button>
</div>
