@import 'src/styles/hav-colors';

:host {
  app-accordion-box-header {
    ::ng-deep mat-checkbox.mdc-checkbox--disabled {
      label.mdc-label {
        color: $hav-black;
      }

      .mdc-form-field .mdc-checkbox {
        display: none;
      }
    }
  }

  app-accordion-box-content {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}
