<app-accordion-box [open]="open || (searching && bands.length > 0)" [toggle]="toggle">
  <app-accordion-box-header>
    <mat-checkbox
      *ngIf="title"
      [checked]="allBoxesAreChecked"
      [indeterminate]="someBoxesAreChecked"
      [disabled]="!scenarioActive"
      (change)="updateAll()"
      checkboxSize="small"
    >{{ title }}</mat-checkbox>
  </app-accordion-box-header>
  <app-accordion-box-content>
    <ul>
      <app-slider-controls
        *ngFor="let band of bands; trackBy: bandNumber"
        [band]="band"
        [category]="category"
        [disabled]="!scenarioActive"
        [onSelect]="onChange"
        [onChangeVisible]="onChangeVisible"
        [groupVisible]="open"
      ></app-slider-controls>
    </ul>
  </app-accordion-box-content>
</app-accordion-box>
