@import 'src/styles/hav-colors';

:host {
  app-accordion-box-header {
    ::ng-deep mat-checkbox.mdc-checkbox--disabled {
      label.mdc-label {
        color: $hav-black;
      }

      .mdc-form-field .mdc-checkbox {
        display: none;
      }
    }
  }

  app-accordion-box-content {
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style: none;
      row-gap: 0.4rem;

      li {
        display: grid;
        border: 1px solid #707070;
        padding: 1.35rem 0.4rem;
      }
    }
  }
}
