<!-- FIXME open if child bands has changes -->
<app-accordion-box [open]="open || (searching && bands.length > 0)" [toggle]="toggle">
  <app-accordion-box-header>
    <mat-checkbox
      *ngIf="title"
      [checked]="checked !== undefined ? checked : allBoxesAreChecked"
      [disabled]="!scenarioActive"
      (change)="checked === undefined ? updateAll() : onChange($event, title)"
      checkboxSize="small"
    >{{ title }}</mat-checkbox>
  </app-accordion-box-header>
  <app-accordion-box-content>
    <ul>
      <app-slider-controls
        *ngFor="let band of bands; trackBy: bandName"
        [band]="band"
        [disabled]="!scenarioActive"
        [onSelect]="onChange"
        [onChangeVisible]="onChangeVisible"
      >
      </app-slider-controls>
    </ul>
  </app-accordion-box-content>
</app-accordion-box>
