<aside
  class="slide-view"
  [attr.data-open]="open"
  [attr.data-position]="position"
  [@openClose]="open ? 'open' : 'closed'"
  >
  <nav class="nav-tabs">
    @for (tab of tabs; track $index) {
      <a
        class="tab for-panel"
        [class.active]="tab.active"
        [title]="tab.title"
        (click)="selectTab(tab.id)"
        tabindex="0"
        >
        <app-icon [iconType]="tab.icon"></app-icon>
      </a>
    }
    @if ((compoundComparisonCount$ | async) > 0) {
      <a
        class="tab for-dialog"
        [title]="'map.open-compound-data-list' | translate: { count: (compoundComparisonCount$ | async) }"
        (click)="openCompoundComparisonList()"
        role="button"
        tabindex="0">
        <app-icon [iconType]="'compare-table'"></app-icon>
      </a>
    }
  </nav>
  @if (open) {
    <div class="icon-bar">
      <app-icon iconType="minus" (click)="onClick(); $event.stopPropagation()"></app-icon>
    </div>
  }
  @if (open) {
    <ng-content select="app-slide-view-tab"></ng-content>
  }
  <ng-content></ng-content>
</aside>
