@import 'src/styles/hav-colors';

:host {
  display: block;
  max-width: 300px;

  h4 {
    margin-bottom: 2mm;
    font-weight: 600;
  }

  h4:first-child {
    margin-top: 0;
  }

  h5 {
    margin-top: 3mm;
    margin-bottom: 2mm;
    font-weight: 600;
  }

  table {
    tr {
      font-size: 12px;
      line-height: 17px;

      th {
        font-weight: 500;
        text-align: left;
        padding-left: 0;
        margin-right: 25px;
        width: 10em;

        &.invalid {
          color: $hav-darkgrey;
          text-decoration: line-through;
        }
      }
      th:not(:first-child) {
        text-align: center;
      }
      td:nth-child(4) {
        text-align: right;
      }

      td {
        &.invalid {
          color: $hav-darkgrey;
          font-style: oblique;
        }
      }

    }
    tr.ruled>* {
      border-top: 1px solid;
    }
  }

  table.totals {
    border-collapse: collapse;
    tr {
      line-height: 20px; /* compensate for collapsed borders */
      td {
        white-space: nowrap;
      }
    }
  }

  p {
    font-size: 14px;
  }

  fn {
    display: block;
    position: relative;

    margin-top: 2rem;
    font-size: 11px;
    line-height: 16px;
    hyphens: auto;

    .star {
      position: absolute;
      top: 0;
      left: -1rem;
    }
  }

  @media print {
    print-color-adjust: exact;
  }
}
