@import 'src/styles/hav-colors';

:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 2rem 3rem;
  min-width: 72rem;
  width: 100%;
  max-width: 90vw;
  max-height: 93vh;
  margin: 0 auto;

  header {
    display: flex;

    h2 {
      font-weight: 600;
      font-size: 2.4rem;
      margin: 0;
    }

    span {
      height: 2.8rem;
      font-size: 1.6rem;
      color: $medium-gray;
    }

    mat-radio-group {
      display: flex;
      flex-direction: column;
      margin-left: 3rem;

      ::ng-deep mat-radio-button {
        height: 1.8rem;

        .mat-radio-label {
          font-size: 1.2rem;

          .mat-radio-container,
          .mat-radio-container .mat-radio-outer-circle,
          .mat-radio-container .mat-radio-inner-circle {
            width: 1.4rem;
            height: 1.4rem;
          }

          .mat-radio-ripple {
            height: 3rem;
            width: 3rem;
            left: calc(50% - 1.5rem);
            top: calc(50% - 1.5rem);
          }

        }
      }
    }
  }

  .intensity-tables-wrapper {
    display: flex;
    overflow-x: auto;
    margin-top: 3rem;

    table {
      border-collapse: collapse;

      tr {
        th {
          span.band-name {
            font-family: "Mukta", sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.75rem;
          }
        }

        th, td {
          border-right: 1px solid $hav-web-neutralgrey;
          border-bottom: 1px solid $hav-web-neutralgrey;

          &:last-child {
            border-right: none;
          }
        }
      }

      thead {
        tr {
          th {
            text-align: left;
            vertical-align: top;

            &.band-name-cell {
              width: 11.6rem;
              min-width: 11.6rem;
              padding: 2rem 1rem 1.5rem;
              border-right: none;

              &.first-band {
                padding-top: 0.5rem;
                border-left: 1px solid $hav-web-neutralgrey;

                span.symphony-theme {
                  font-family: 'Roboto', sans-serif;
                  font-size: 1.1rem;
                  line-height: 1.3rem;
                  margin-bottom: 0.2rem;
                  letter-spacing: 0.04rem;
                  font-weight: 300;
                  white-space: nowrap;
                  color: $medium-gray;
                }
              }
            }

            span {
              display: block;

              &.band-name {
                display: -webkit-box;
                height: 35px;
                text-overflow: ellipsis;
                overflow: hidden;
                overflow-wrap: anywhere;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
            }

            &:first-child {
              width: 34rem;
              min-width: 34rem;
            }
          }
        }
      }

      tbody {
        tr:nth-child(2n + 1) {
          background-color: white;
          th {
            background-color: white;
          }
        }

        tr:nth-child(2n) {
          background-color: $lighter-gray;
          th {
            background-color: $lighter-gray;
          }
        }

        th {
          text-align: right;
          left: 0;
          z-index: 10;
          position: sticky;
          border-right: 1px solid $hav-web-neutralgrey;

          span.band-name {
            display: block;
            padding: 0.7rem 1.6rem 0.7rem 1rem;
          }
        }

        &.global {
          color: $medium-gray;
        }
      }

      td {
        position: relative;
        text-align: center;
        font-size: 1.3rem;

        ::ng-deep app-overview-inline-band-change.cell-editing {
          padding: 1rem 0 0.2rem;
        }
      }
    }

    &.editing table {
      td ::ng-deep app-overview-inline-band-change:not(.cell-editing) {
        color: $hav-darkgrey;

        app-icon-button {
          display: none;
        }
      }
    }
  }

  .buttons {
    margin: 3rem 0 0 auto;
  }
}
