<header>
  <div>
    <h2>{{ 'map.editor.changes-overview.title' | translate }}</h2>
    <span>{{ scenario.name }}</span>
  </div>
  @if (bothTypes) {
    <mat-radio-group name="changes-to-show" (change)="selectType($event.value)">
      <mat-radio-button [value]="'ecoComponents'" [checked]="ecoChanges && !pressureChanges">
        <strong>{{ 'map.intensity.ecosystems' | translate }}</strong>
      </mat-radio-button>
      <mat-radio-button [value]="'pressures'" [checked]="!ecoChanges && pressureChanges">
        <strong>{{ 'map.intensity.pressures' | translate }}</strong>
      </mat-radio-button>
      <mat-radio-button [value]="'both'" [checked]="ecoChanges && pressureChanges">
        <strong>{{ 'map.editor.changes-overview.show-all' | translate }}</strong>
      </mat-radio-button>
    </mat-radio-group>
  }
</header>
<div [ngClass]="{'intensity-tables-wrapper': true, 'editing': editingCell }">
  <table class="intensity-table">
    <thead>
      <tr>
        <th></th>
        @for ($bandType of selectedBandTypes(); track $bandType) {
          @for ($bandGroups of groupMap.get($bandType) | keyvalue; track $bandGroups.key) {
            @for($band of Object.values($bandGroups.value); track $band; let $ix = $index) {
              <th [ngClass]="{ 'first-band' : $ix === 0, 'band-name-cell': true}">
                @if ($ix === 0) {
                  <span class="symphony-theme">{{ $bandGroups.key}}</span>
                }
                <span class="band-name">{{ $band.name }}</span>
              </th>
            }
          }
        }
      </tr>
    </thead>
    <tbody>
      @for ($change of areaChangeMap | keyvalue; track $change.key) {
        <tr>
          <th>
            <span class="band-name">
              {{ Number($change.key) >= 0 ? scenario.areas[Number($change.key)].feature.properties?.['name'] :
                ('map.editor.changes-overview.global-changes' | translate) }}
            </span>
          </th>
          @for ($bandType of selectedBandTypes(); track $bandType) {
            @for ($bandGroups of groupMap.get($bandType) | keyvalue; track $bandGroups.key) {
              @for($band of Object.values($bandGroups.value); track $band) {
              <td [ngClass]="{
                    eco:      $bandType === 'ecoComponents',
                    pressure: $bandType === 'pressures' }"
              >
                <app-overview-inline-band-change
                  [change]="getChange($bandType, +$change.key, $band.number)"
                  [areaIndex]="+$change.key"
                  [bandNumber]="+$band.number"
                  (editModeChange)="setEditingCell($event)"
                  >
                </app-overview-inline-band-change>
              </td>
              }
            }
          }
        </tr>
      }
    </tbody>
  </table>
</div>
<section class="buttons">
  <button mat-flat-button (click)="dialog.close(this.hasChanged)" [ngClass]="'secondary'" [disabled]="editingCell">
    {{ 'map.editor.changes-overview.close' | translate }}
  </button>
</section>
