<section [ngClass]="{ 'multi-mode' : isMultiMode() }">

  <div *ngIf="environment.showBaseCalculations">
    <h3>{{ 'map.history.baseline-calculations' | translate }}</h3>
    <div class="baseline-name" [title]="baseline?.description">{{baseline?.name}}</div>
    <main class="baseline">
      <button *ngFor="let calculation of baselineCalculations$ | async" class="calculation">
<!--              (click)="load(calculation)"-->
        <div class="calculation-info">
          <h4 class="baseline" [title]="calculation.name">{{ calculation.name }}</h4>
          <!--TODO: show calc param summary instead of [from user's point of view arbitrary] time -->
          <span>{{ calculation.timestamp | date: 'yyyy-MM-dd HH:mm' }}</span>
        </div>
        <app-icon iconType="report" (click)="showReport(calculation.id)">
        </app-icon>
      </button>
      <ng-container *ngIf="!$any(baselineCalculations$ | async)?.length" [ngTemplateOutlet]="noCalculations">
      </ng-container>
    </main>
  </div>

  <div class="title-container">
    <h3>{{ 'map.history.previous-calculations' | translate }}</h3>
    <app-multi-tools
      [isMultiMode]="isMultiMode"
      [enterLabel]="'map.history.multi-mode.enter'"
      [exitLabel]="'map.history.multi-mode.exit'"
      [disabledPredicate]="isDisabled"
      [multiActionDelegate]="deleteSelectedCalculations"
      [multiActionIcon]="'delete'"
      [multiActionLabel]="'map.history.multi-mode.delete-selected'"
      [multiActionLabelDisabled]="'map.history.multi-mode.none-selected'"
    ></app-multi-tools>
  </div>

  <div class="list-filter-container">
    <app-list-filter
            [filterPlaceholder]="'map.history.filter-hint' | translate"
            (filterChange)="setFilter($event)"
            (sortChange)="setSort($event)"
    ></app-list-filter>
  </div>

  <main *ngIf="!(loading$ | async) else loading">
    <div class="calculation-wrap" *ngFor="let calculation of calculations$ | async; index as i">
      <button [ngClass]="{
                'calculation list-item' : true,
                'filtered': filter(calculation.name),
                'visible': resultIsVisible(calculation.id),
                'purged': calculation.isPurged }"
              [title]="(calculation.isPurged ? ('map.history.purged-result' | translate) : '')"
              (click)="this.isMultiMode() ? multiSelect(calculation.id) : showReport(calculation.id)"
              >
        <div class="calculation-info">
          <div class="name">
            <h4 *ngIf="editingName !== calculation.id" [title]="calculation.name">{{ calculation.name }}</h4>
  <!--
            <input #name *ngIf="editingName === calculation.id" [value]="calculation.name"
                   (keydown.enter)="saveName($event, calculation, i)" (blur)="cancelEdit($event)"
                   (click)="$event.stopPropagation()"/>
  -->
          </div>
          <span class="timestamp">{{ calculation.timestamp | date: 'yyyy-MM-dd HH:mm' }}</span>
        </div>
        <div class="list-actions" *ngIf="!isMultiMode()">
          <app-icon *ngIf="!resultIsVisible(calculation.id)" iconType="eye" (click)="loadResult(calculation.id); $event.stopPropagation()"
                    title="{{ 'map.history.show-result' | translate }}"></app-icon>
          <app-icon *ngIf="resultIsVisible(calculation.id)" iconType="eye-slash" (click)="removeResult(calculation.id); $event.stopPropagation()"
                    title="{{ 'map.history.hide-result' | translate }}"></app-icon>
          <app-icon iconType="report" (click)="showReport(calculation.id); $event.stopPropagation()"
                    title="{{ 'map.history.show-report' | translate: { calculationName: calculation.name } }}">
          </app-icon>
          <app-icon iconType="delete" (click)="confirmDelete(calculation, $event)"
            title="{{ 'map.history.delete' | translate: { calculationName: calculation.name } }}"
          >
          </app-icon>
        </div>
        <mat-spinner *ngIf="loadingCalculations.has(calculation.id)" diameter="20" ></mat-spinner>
        <app-icon iconType="eye" class="visible" *ngIf="resultIsVisible(calculation.id)"
                  title="{{ 'map.history.visible-result' | translate }}"></app-icon>
        <app-icon iconType="cross" class="purged" *ngIf="!loadingCalculations.has(calculation.id) && calculation.isPurged"></app-icon>
      </button>
      <div class="multi-selected-wrap" *ngIf="isMultiMode()">
        <mat-checkbox [checked]="selectedIds.includes(calculation.id)"
                      (change)="multiSelect(calculation.id)"
                      (click)="$event.stopPropagation()">
        </mat-checkbox>
      </div>
    </div>
    <ng-container *ngIf="!$any(calculations$ | async).length" [ngTemplateOutlet]="noCalculations">
    </ng-container>
  </main>
  <!--TODO Add useful hover info such as normalization, band selection etc?-->
</section>

<ng-template #loading>
  <div class="loading">
    <mat-spinner diameter="20"></mat-spinner>
    <h4>{{ 'map.history.loading' | translate }}</h4>
  </div>
</ng-template>

<ng-template #noCalculations>
  <div class="no-calculations">
    <span>
      <app-icon iconType="info-circle"></app-icon>
        {{ 'map.history.placeholder' | translate }}
    </span>
  </div>
</ng-template>
