<h4>{{ 'map.editor.select-intersection.header' | translate }}</h4>
<p [innerHTML]="'map.editor.select-intersection.message' | translate"></p>
<mat-radio-group name="selected-area" (change)="selectArea($event.value)">
  <ul>
      <li *ngFor="let fragment of overlap; index as ix">
        <div class="intersection-alt" (click)="selectArea(ix)">
          <app-inline-map [polygon]="fragment.polygon" [maxZoom]="9"></app-inline-map>
          <span class="area-measure">{{ squareKm(fragment.polygon) }} km<sup>2</sup></span>
          <mat-radio-button [value]="ix" [checked]="ix === this.selected"></mat-radio-button>
          <div class="matrix-cpl-label"><strong>{{ 'map.editor.select-intersection.default-matrix' | translate }}</strong>{{ fragment.defaultMatrix.name }}</div>
        </div>
      </li>
  </ul>
</mat-radio-group>
<div class="button-pane">
  <button mat-flat-button [ngClass]="'secondary'" (click)="close()">{{
    'confirmation-modal.cancel' | translate
    }}</button>
  <button mat-flat-button [disabled]="selected === -1" (click)="confirm()">{{
    'map.editor.select-intersection.confirm-selection' | translate
    }}</button>
</div>
