@import '/src/styles/hav-colors';

:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 2rem 2rem;

  h4 {
    margin: 3rem 0 1rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 852px;
    max-height: 68vh;
    overflow-y: scroll;
    justify-content: space-evenly;
    padding: 0;

    li {
      .intersection-alt {
        display: inline-flex;
        position: relative;
        flex-direction: column;
        padding: 1rem;
        border: 1px solid transparent;
        cursor: pointer;

        app-inline-map {
          display: inline-block;
          width: 256px;
          height: 256px;
        }

        .matrix-cpl-label {
          display: inline-block;
          font-size: 1.3rem;
          margin-top: 0.5rem;
          padding: 0 0.4rem 0.4rem;

          strong {
            display: block;
          }
        }

        .area-measure {
          position: absolute;
          top: 1.5rem;
          right: 1.5rem;
          padding: 0.15rem 0.5rem 0.28rem;
          background: #ffffffe0;
          font-size: 1.1rem;
        }

        ::ng-deep mat-radio-button {
          position: absolute;
          top: 1.3rem;
          left: 1rem;

          .mat-radio-label {
            width: unset;
          }
        }

        &:hover {
          border-color: $hav-grey;
        }
      }
    }
  }
  .button-pane {
    margin-top: 2rem;
    text-align: center;
  }
}
