<ng-container *ngIf="!disabled">
  <h4>{{ 'map.editor.band-pressures.intensity' | translate }}</h4>
  <div class="knobs">
    <div class="slider">
      <div class="row">
        <span>{{ 'map.editor.band-pressures.percentage' | translate }}</span>
        <input class="percentage"
               type="number"
               [value]="(multiplier - 1) * 100 | number:'1.0-0'"
               step="1"
               max="200"
               min="-100"
               [disabled]="getDisabled()"
               (input)="updateMultiplier(($event.target.value / 100) + 1)"
        />
      </div>
      <app-slider
        [value]="multiplier"
        min="0"
        max="3"
        step="0.01"
        (input)="updateMultiplier($event.target.value)"
        [disabled]="getDisabled()"
      >
      </app-slider>
    </div>
    <div class="column">
      <span>{{ 'map.editor.band-pressures.constant-increase' | translate }}</span>
      <input #constant
        type="number"
        value="0"
        step="1"
        [value]="offset"
        [disabled]="!(groupSetting || overridden)"
      />
    </div>
  </div>
</ng-container>
<!-- TODO: Reimplement or remove. Transparency setting for layer -->
<!--<ng-container *ngIf="areaIsVisible">-->
<!--  <h4>{{ 'map.editor.band-pressures.opacity' | translate }}</h4>-->
<!--  <div class="knobs opacity">-->
<!--    <div class="slider">-->
<!--      <app-slider-->
<!--        [value]="band.layerOpacity"-->
<!--        min="0"-->
<!--        max="100"-->
<!--        step="1"-->
<!--        (input)="updateLayerOpacity($event.target.value)"-->
<!--      >-->
<!--      </app-slider>-->
<!--    </div>-->
<!--    <span>{{ band.layerOpacity }}%</span>-->
<!--  </div>-->
<!--</ng-container>-->
<ng-container *ngIf="!groupSetting">
  <div class="override-wrapper">
    <mat-checkbox (change)="setOverride($event.checked)" [checked]="overridden">
      {{ 'map.intensity.override' | translate }}
    </mat-checkbox>
  </div>
</ng-container>
