<img class="instance" src="{{ env.instanceImage }}" alt="WIO Symphony" />
<h2 class="instance_desc">{{ env.instanceDescriptor }}</h2>
<h1>Symphony</h1>
<form class="login-form" [formGroup]="loginForm">
  <hav-form-field
    formControlName="username"
    [label]="'login.username' | translate"
    autocomplete="on"
  ></hav-form-field>
  <hav-form-field
    formControlName="password"
    [label]="'login.password' | translate"
    type="password"
    autocomplete="current-password"
  ></hav-form-field>
  <p *ngIf="errorMessage" class="error">{{ errorMessage | translate }}</p>
  <hav-button
    [isSubmitButton]="true"
    (click)="loginForm.valid ? login(loginForm.value.username, loginForm.value.password) : ''"
    [disabled]="!loginForm.valid"
    >{{ 'login.login' | translate }}</hav-button
  >
</form>
<div class="login-options">
  <nav>
    <p *ngIf="env.login.forgotPasswordUrl !== undefined">
      {{ 'login.forgot-password' | translate }}
      <a [href]="env.login.forgotPasswordUrl">{{ 'login.request-password' | translate }}</a>
    </p>
    <p *ngIf="env.login.noAccountUrl !== undefined">
      {{ 'login.no-account' | translate }}
      <a [href]="env.login.noAccountUrl">{{ 'login.request-account' | translate }}</a>
    </p>
  </nav>
</div>
<app-wio-acknowledgement></app-wio-acknowledgement>
<div class="topography" data-position="bottom-left"></div>
<div class="topography" data-position="top-right"></div>
<div *ngIf="loading | async" class="loading-overlay">
  <app-hav-loader></app-hav-loader>
</div>
