<h4>{{ headerTextKey | translate }}</h4>
<p [innerHTML]=" messageTextKey | translate"></p>
  <div class="intersection-alt merged">
    <div appInlineMap [polygon]="areas[0].polygon" [maxZoom]="9" [projectionId]="this.projection"></div>
  </div>
<mat-radio-group name="merged-area-options" (change)="select($event.value)"
                 *ngIf="altAreas.length > 0" [ngClass]="'merged-area-options'">
  <mat-radio-button [value]="0">
    <strong>{{ 'map.merge-areas.modal.save-new' | translate }}</strong>
  </mat-radio-button>
  <mat-radio-button *ngFor="let area of altAreas" [value]="area.index">
    {{ 'map.merge-areas.modal.save-overwrite' | translate: area }}
  </mat-radio-button>
</mat-radio-group>
<div class="button-pane">
  <button mat-flat-button [ngClass]="'secondary'" (click)="close()">{{
    cancelTextKey | translate
    }}</button>
  <button mat-flat-button [disabled]="(altAreas.length > 0 && selected === -1)" (click)="confirm()">{{
    confirmTextKey | translate
    }}</button>
</div>
