:host {
  display: flex;
  flex-direction: column;

  .area-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    app-icon {
      font-size: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    overflow-y: auto;
    margin-left: 1.4rem;

    li {
      padding: 0.2rem 0;
    }
  }
}
