<div class="area-toggle">
  <hav-checkbox
    *ngIf="title"
    [label]="title"
    [checked]="checked === undefined ? allBoxesAreChecked : checked"
    (check)="checked === undefined ? updateAll() : onChange($event, title, statePath)"
    checkboxSize="small"
  ></hav-checkbox>
  <app-icon
    [iconType]="showItems ? 'chevron-up' : 'chevron-down'"
    (click)="toggleItems()"
  ></app-icon>
</div>
<ul *ngIf="showItems">
  <li *ngFor="let item of items">
    <hav-checkbox
      [label]="item.label"
      [checked]="item.checked"
      (check)="onChange($event, item.label, item.statePath)"
      checkboxSize="small"
    ></hav-checkbox>
  </li>
</ul>
