<div class="area-toggle">
  <mat-checkbox
    *ngIf="title"
    [checked]="checked === undefined ? allBoxesAreChecked : checked"
    (change)="checked === undefined ? updateAll() : onChange($event.checked, title, statePath)"
  >{{ title }}</mat-checkbox>
  <app-icon
    [iconType]="showItems ? 'chevron-up' : 'chevron-down'"
    (click)="toggleItems()"
  ></app-icon>
</div>
<ul *ngIf="showItems">
  <li *ngFor="let item of items">
    <mat-checkbox
      [checked]="item.checked"
      (change)="onChange($event.checked, item.label, item.statePath)"
    >{{ item.label }}</mat-checkbox>
  </li>
</ul>
