<ng-container *ngIf="hasChanges() else noChanges">
  <div id="areas-list">
    <app-accordion-box #changesAccordion
                       [open]="changesCount() == 1"
                       [ngClass]="changesCount() == 1 ? 'single-change' : ''">
      <app-accordion-box-header *ngIf="changesCount() > 1">
        <div class="area-title"
             [innerHTML]="changesAccordion.open ?
                    ( 'map.editor.changes.collapse' | translate ) :
                    ( 'map.editor.changes.collapsed-count' | translate:{ count: changesCount() } )">
        </div>
      </app-accordion-box-header>
      <app-accordion-box-content>
        <div *ngFor="let change of getChanges() | keyvalue" class="change">
          <div class="band-name">{{ change.key }}</div>
          <div class="spec">
                <span *ngIf="change.value['multiplier']" class="multiplier">
                  {{ change.value.multiplier - 1 > 0 ? '+' : '' }}{{
                  convertMultiplierToPercent(change.value.multiplier) | percent: '.0' }}
                </span>
            <span *ngIf="change.value['offset']" class="offset">
                  {{ change.value.offset > 0 ? '+' : '' }}{{ change.value.offset | number: '.0' }}
                </span>
          </div>
          <div class="icons">
            <app-icon class="delete-change-icon" iconType="times"
                      [title]="'map.editor.changes.clear-change' | translate"
                      (click)="onDelete(change.key.toString())">
            </app-icon>
          </div>
        </div>
      </app-accordion-box-content>
    </app-accordion-box>
  </div>
</ng-container>
<ng-template #noChanges>
  <div id="no-changes">
          <span style="font-style: italic">
            <app-icon iconType="info-circle"></app-icon>
            {{ 'map.editor.changes.no-changes' | translate }}
          </span>
    <!-- Todo links to jump to respective tabs? -->
    <p>{{ 'map.editor.changes.make-changes-hint' | translate }}</p>
  </div>
</ng-template>
