@import '../../../styles/margins';

:host {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  * > {
    background-color: white;
    max-height: 99vh;
  }
}
