:host {
  display: block;
  max-width: 400px;
  .image-background {
    background-color: #e8f7f6;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;

    img {
      object-fit: contain;
      height: 100%;
      border: none;
      width: 100%;
      max-height: 100%;
    }
  }
}

@media print {
  .image-background {
    color-adjust: exact;
  }
}
