@import '../../../../styles/constants';
@import '../../../../styles/hav-colors';
@import '../../../../styles/margins';

:host {
  min-height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
  background-color: white;

  button,
  .zoom-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 4.4rem;
    width: 4.4rem;
    outline: none;
    background-color: $hav-turquoise;
    border-radius: 50%;
    border: none;
    box-sizing: border-box;
    font-size: 2.1rem;
    font-weight: 500;
    color: white;
    user-select: none;
    &:hover {
      cursor: pointer;
    }
  }

  .zoom-buttons {
    flex-direction: column;
    height: 8.8rem;
    padding: 0;

    ::ng-deep app-toolbar-button {
      & > button {
        border-radius: 0;
      }

      &:first-child > button {
        border-radius: 50% 50% 0 0;
        border-bottom: 1px solid $hav-lightturquoise;
      }

      &:last-child > button {
        border-radius: 0 0 50% 50%;
      }
    }
  }

  button {
    &:hover {
      background-color: $hav-darkturquoise;
      cursor: pointer;
    }
    &:active, &[data-active="true"] {
      background-color: $hav-black;
    }
    &:disabled {
      background-color: #005E871A;
      color: #005E8780;
      &:hover {
        cursor: auto;
      }
    }
  }
}
