@import 'src/styles/hav-colors';

:host {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  padding: 2rem;
  width: 50vw;
  min-width: 36rem;
  max-height: 83vh;
  overflow-x: auto;

  h4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h5 {
      font-weight: 600;
      font-size: 1.4rem;
      margin: 0.4rem 0;
    }

    p {
      font-size: 1.3rem;
      line-height: 2.2rem;
      margin: 0 0 1.8rem;

      &.no-info {
        font-style: oblique;
        color: $hav-darkgrey;
      }
    }

    > button {
      margin-right: 1.4rem;
      align-self: center;
    }

    &.meta-sections {
      margin-bottom: 1rem;

      ul {
        padding-left: 2rem;
        margin: 0 0 1rem;
        font-size: 1.14rem;
        list-style-type: circle;

        li {
          margin-bottom: 0.3rem;
        }
      }
    }
  }

  app-icon {
    position: absolute;
    display: none;
    font-size: 1.8rem;
    right: 1rem;
    top: 0px;
    margin-top: 1rem;
    opacity: 0.6;
    color: $hav-turquoise;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &.has-overflow {

    app-icon {
      display: block;
    }
  }
}
