<h4>{{ 'map.metadata.header' | translate:
  {  layerType: ('map.metadata.' + this.category) | translate,
  layerName: this.title }
}}</h4>
<div class="meta-sections">
  @for (metaSection of bandMetadata | keyvalue : preserveKV; track metaSection.key) {
    <div class="meta-content">
      <h5>{{ metaSection.key | translate }}</h5>
      @if (!(metaSection.value)) {
        <p class="no-info">
          {{ 'map.metadata.no-info' | translate }}
        </p>
      }
      @for (meta of metaSection.value; track $index) {
        <p [innerHTML]="meta | anchor"></p>
      }
    </div>
  }
  @for (metaList of bandMetadataLists | keyvalue : preserveKV; track metaList.key) {
    <div class="meta-content meta-list">
      <h5>{{ metaList.key | translate }}</h5>
      <ul>
        @for (mdListEntry of metaList.value; track $index) {
          <li [innerHTML]="mdListEntry | anchor"></li>
        }
      </ul>
    </div>
  }
</div>
<div>
  <button mat-flat-button (click)="close()">{{
    'map.metadata.close' | translate
  }}</button>
</div>
<app-icon [iconType]="'cross'" (click)="close()" style="top:0px"></app-icon>
