@import '../../../styles/constants';
@import '../../../styles/hav-colors';
@import '../../../styles/margins';

:host {
  .search-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 0 0 1rem;
    }

    button {
      outline: none;
      background: none;
      border: none;
      color: $hav-turquoise;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
  }
}
