:host {
  box-sizing: border-box;
  padding: 2rem;
  margin: auto;
  width: 100%;
  max-width: 210mm;
  min-height: 100vh;
  box-shadow: 0 0 15px grey;
  display: flex;
  flex-direction: column;

  tbody {
    display: grid;
    grid-template-columns: 1fr 1fr 12mm 1fr 1fr;
    grid-template-rows: 20mm 50mm 50mm 15mm auto;
    row-gap: 8mm;

    .title {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
      h1, h3 {
        margin: 0;
      }
      h3 {
        font-size: 1.95rem;
        max-width: 73%;
        max-height: 10rem;
        overflow: hidden;
      }
    }

    .logo {
      grid-column: 4 / 6;
      grid-row: 1 / 2;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;

      img {
        height: 15mm;
        width: 37.5mm;

        &.sweden {
          margin-right: 4rem;
        }
      }
    }

    app-calculation-image {
      grid-column: 1 / 3;
      grid-row: 2 / 4;
      display: table-cell;
    }

    app-cumulative-effect-etc {
      grid-column: 4 / 6;
      grid-row: 2 / 4;

      p {
        font-size: 13px;
      }
    }

    #matrix-selection {
      grid-column: 1 / 6;
      grid-row: 4 / 6;

      h4 {
        font-weight: 600;
      }

      table {
        border-spacing: 0.6rem;

        tr {
          border-bottom: 1px dotted gray;

          th, td {
            font-size: 1.4rem;
            text-align: left;
            line-height: 2rem;
          }

          th {
            width: 34rem;
            padding-right: 2rem;
          }
        }
      }
    }

    app-result-color-scale {
      grid-column-start: 1;
      width: 150%;
      margin: -8mm 0 0 8mm;
      align-self: end;

      &.calc-report-legend {
        grid-row: 8 / 9;
      }
    }

    app-highest-impacts {
      grid-row: 7 / 8;

      &.pressure-impacts {
        grid-column: 1 / 3;
      }

      &.ecocomponent-impacts {
        grid-column: 4 / 6;
      }
    }

    app-pressure-chart {

      grid-column: 1 / 6;

      &#sankey-single {
        grid-row: 9 / 10;
      }

    }

    app-scenario-changes {
      grid-column: 1 / 4;
      grid-row: 10 / 11;
    }

    app-scenario-changes.right {
      grid-column: 4 / 6;
    }

    app-impact-table {
      grid-row: 11 / 12;

      &.ecocomponent-impacts {
        grid-column: 4 / 6;
      }

      &.pressure-impacts {
        grid-column: 1 / 3;
      }
    }
  }

  app-histogram {
    grid-column: 1 / 6;
    grid-row: 12 / 13;
  }

  .closing-matter {
    grid-column: 1 / 6;
    grid-row: 13 / 14;
    font-size: 13px;
    text-align: center;
    margin: 0 3rem;
  }

  .date {
    grid-column: 1 / 6;
    grid-row: 14 / 15;
    display: flex;
    justify-content: center;
    font-size: 12px;
  }

  .error-page {
    margin: auto;
    max-width: 34rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    ::ng-deep app-status-icon svg {
      width: 6rem;
      height: 6rem;
    }

    h3 {
      font-weight: 700;
      text-align: center;
    }

    img {
      width: 34rem;
      height: auto;
    }
  }

  .loading-report {
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    ::ng-deep hav-spinner {
      display: flex;
      justify-content: center;
    }

    h4 {
      text-align: center;
    }
  }

  tbody.comparison-report {
    app-scenario-changes {
      grid-row: 7 / 11;

      &.left {
        grid-column: 1 / 3;
      }
      &.right {
        grid-column: 4 / 6;
      }
    }
  }

  @media print {
    padding: 0;
    box-shadow: none;
    width: 210mm;
    height: 297mm;

      app-highest-impacts {
        position: relative;
        margin: auto 0 !important;
        padding-top: 10rem;
        justify-content: center;
        height: calc(96vh - 28mm - 10rem);
      }

      app-result-color-scale {
        max-height: 4vh;
        page-break-after: always;
      }

      app-pressure-chart {
        page-break-before: always;
        height: 92vh;
      }

      app-scenario-changes {
        page-break-before: always;
      }
  }
}

@page {
  size: A4;
  margin: 11mm 17mm 60mm 17mm;
}
