@import 'src/styles/constants';
@import 'src/styles/hav-colors';
@import 'src/styles/margins';

:host {
  background: $hav-darkcoldgrey;
  position: relative;
  height: calc(100vh - #{$header-height});

  #map {
    height: 100%;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  app-map-toolbar {
    position: absolute;
    top: 2rem;
    right: 0.8rem;
  }

  .ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    top: -23px;
    left: 22px;
    min-width: 240px;

    &:after, &:before {
      top: 12px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      transform: rotate(90deg);
    }

    &:after {
      border-top-color: white;
      border-width: 10px;
      left: -10px;
      margin-left: -10px;
    }

    &:before {
      border-top-color: #cccccc;
      border-width: 11px;
      left: -11px;
      margin-left: -11px;
    }

    h5 {
      margin: 0;
      font-weight: 700;
      line-height: 1.2em;
    }

    p {
      font-size: 1.3rem;
      line-height: 1.6rem;
      padding-top: 0.6rem;
      margin: 0;
    }
  }
}
