<div id="map" class="map" #map></div>
<app-map-toolbar
  [drawIsActive]="drawIsActive"
  (zoomIn)="zoomIn()"
  (zoomOut)="zoomOut()"
  (clearResult)="clearResult()"
  (toggleDraw)="toggleDrawInteraction()"
  (setMapOpacity)="setMapOpacity($event)"
  [layerManagerActive]="layerManagerExpanded"
  (toggleLayerManager)="toggleLayerManager()"
></app-map-toolbar>
<app-layer-manager
  class="layer-manager-panel"
  [isExpanded]="layerManagerExpanded">
</app-layer-manager>
<app-footer></app-footer>
@if (!drawIsActive) {
  <div id="popup" class="ol-popup">
    <div id="popup-content">
      <h5 id="popup-title"> </h5>
      <p id="popup-body">{{ 'map.click-area' | translate }}</p>
    </div>
  </div>
}
<div #areaOptionsMenu id="area-options-menu">
  <button>{{ 'map.area-options.get-shapefile' | translate }}</button>
</div>
