<div id="map" class="map" #map></div>
<app-map-toolbar
  [drawIsActive]="drawIsActive"
  (zoomIn)="zoomIn()"
  (zoomOut)="zoomOut()"
  (clearResult)="clearResult()"
  (toggleDraw)="toggleDrawInteraction()"
  (setMapOpacity)="setMapOpacity($event)"
></app-map-toolbar>
<app-footer></app-footer>
<div id="popup" class="ol-popup" *ngIf="!drawIsActive">
  <div id="popup-content">
    <h5 id="popup-title"> </h5>
    <p id="popup-body">{{ 'map.click-area' | translate }}</p>
  </div>
</div>
<div id="area-options-menu">
  <button>{{ 'map.area-options.get-shapefile' | translate }}</button>
</div>
