<nav>
  <h2>{{ 'report.calculation.title' | translate }}</h2>
  <app-icon-button icon="times" label="close" (click)="close()"></app-icon-button>
</nav>
<iframe #frame [src]="getSafeUrl()"></iframe>
<div class="toolbar">
  <button mat-flat-button id="open-in-new-tab" (click)="open()" [ngClass]="'basic'">
    {{ 'report.toolbar.open-in-new-tab' | translate }}
  </button>
  <button mat-flat-button (click)="downloadCSV()" [ngClass]="'secondary'">
    {{ 'report.toolbar.export-csv' | translate }}
  </button>
  <button mat-flat-button (click)="downloadGeotiff()" [ngClass]="'secondary'">
    {{ 'report.toolbar.export-geotiff' | translate }}
  </button>
  <button mat-flat-button (click)="print()">
    {{ 'report.toolbar.print' | translate }}
  </button>
</div>
