<!--TODO add close app-icon button -->
<header>
  <div class="title">
    <h2 *ngIf="!editName" (click)="editName = true">{{ matrixData.name }}</h2>
    <input
      *ngIf="editName"
      [value]="matrixData.name"
      (input)="onChangeName($event.target.value)"
      (blur)="editName = false"
    />
    <button (click)="editName = !editName">
      {{ 'map.editor.matrix.table.edit-name' | translate }}
      <app-icon iconType="edit"></app-icon>
    </button>
  </div>
  <span>{{ area }}</span>
</header>
<main>
  <table>
    <tbody>
      <tr>
        <th class="empty"></th>
        <th *ngFor="let column of matrixData.sensMatrix.rows[0].columns" scope="col">
          {{ getName(column) }}
        </th>
      </tr>
      <tr *ngFor="let row of matrixData.sensMatrix.rows; index as i">
        <th scope="row" title="{{ getName(row) }}">{{ getName(row)
            // FIXME: ugly duplicate call, refactorise. See comment in getName method. }}</th>
        <td *ngFor="let column of row.columns; index as j" [attr.data-pressure]="column.value > 0">
          <input
            type="number"
            [value]="column.value"
            min="0.0"
            max="1.0"
            step="0.1"
            [title]="getName(row) + ' | ' + getName(column)"
            [attr.data-row]="i"
            [attr.data-column]="j"
            (input)="
              onChange($event.target.value, $event.target.dataset.row, $event.target.dataset.column)
            "
          />
        </td>
      </tr>
    </tbody>
  </table>
</main>
<section class="buttons">
  <button mat-flat-button (click)="confirmClose()" [ngClass]="'secondary'">{{
    'map.editor.matrix.table.close' | translate
    }}</button>
  <div class="right">
    <button mat-flat-button color="warn" [disabled]="immutable" (click)="deleteMatrix()">{{
      'map.editor.matrix.table.delete' | translate
      }}</button>
    <button mat-flat-button [disabled]="immutable || !dirty" [title]="nameExists() ? ('map.editor.matrix.table.name-exists' | translate:{ takenName: matrixData.name }) : ''" (click)="save(initClean.bind(this))">{{
      'map.editor.matrix.table.save' | translate
    }}</button>
    <button mat-flat-button [disabled]="!hasChangedName || nameExists() || matrixData.name === initialName" [title]="nameExists() ? ('map.editor.matrix.table.name-exists' | translate:{ takenName: matrixData.name }) : ''" (click)="saveAsNew(initClean.bind(this))">{{
      'map.editor.matrix.table.save-as' | translate
    }}</button>
  </div>
</section>
