@import 'src/styles/hav-colors';
@import 'src/styles/margins';

:host {
  display: block;
  background-color: white;
  border-radius: 4px;
  padding: 3rem 2rem;
  box-sizing: border-box;
  width: 90rem;
  max-width: calc(100vw - 4rem);
  max-height: calc(100vh - 9rem);

  header {
    height: 9rem;

    .title {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 1rem;

      input {
        border-radius: 4px;
        border: 1px solid $hav-darkcoldgrey;
        padding: 0.4rem 0.8rem;
        font-size: 2rem;
      }

      button {
        margin-left: 1rem;
        color: $hav-turquoise;
        background: none;
        outline: none;
        border: none;
        font-weight: 500;
        font-size: 1.4rem;

        &:hover {
          cursor: pointer;
        }

        app-icon {
          display: inline;
          font-size: 1.2rem;
          margin-left: 0.4rem;
        }
      }
    }
  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }
  span {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  main {
    overflow: auto;
    max-height: calc(100vh - 9rem - 23rem);
  }
  table {
    position: relative;
    table-layout: fixed;
    border-spacing: unset;
    border-collapse: separate;

    tr {
      &:nth-child(odd) {
        background-color: white;
        th[scope='row'], td {
          background-color: white;
          border-color: white $light-gray $light-gray white;
        }
        th[scope='row']{
          border-right-color: $darker-gray;
        }
      }

      &:nth-child(even) {
        background-color: $hav-coldgrey;
        th[scope='row'], th.empty, td {
          background-color: $hav-coldgrey;
          border-color: $hav-coldgrey $light-gray $light-gray $hav-coldgrey;
        }
        th[scope='row'] {
          border-right-color: $darker-gray;
        }
      }

      th {
        position: sticky;
        font-size: 1.4rem;
        line-height: 1.9rem;
        font-weight: bold;
        color: #494949;
        padding: 0.5rem 0.6rem;

        &[scope='row'], &.empty {
          left: 0;
          text-align: right;
          padding-left: 3rem;
          white-space: pre-wrap;
          min-width: 248px;
          max-width: 248px;
          overflow: hidden;
          text-overflow: ellipsis;
          border: 1px solid;
          border-color: white $light-gray $light-gray white;
        }

        &[scope='col'] {
          top: 0;
          background-color: white;
          border-color: white $light-gray $darker-gray white;
        }
      }

      td {
        padding: 0;
      }

      th,
      td {
        box-sizing: border-box;
        width: 9rem;
        min-width: 7rem;
        vertical-align: middle;
        text-align: center;
        border: 1px solid;

        input {
          display: flex;
          font-size: 1.6rem;
          line-height: 2.1rem;
          text-align: center;
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          border: none;
          background: none;
        }

        &[data-pressure='true'] {
          * {
            font-weight: bold;
          }
        }
      }
    }
  }

  .buttons {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .right {
      display: flex;
      justify-content: flex-end;
      & > * {
        margin-left: 1.2rem;
      }
    }
  }
}
