<app-icon-button
  icon="choice"
  class="set-multi-mode"
  [ngClass]="{ 'active': isMultiMode() }"
  [label]="
          (isMultiMode() ? exitLabel :
                           enterLabel) | translate"
  (click)="toggleMultiMode()"></app-icon-button>
<app-icon-button
  [icon]="multiActionIcon"
  class="multi-action"
  [disabled]="disabledPredicate()"
  [ngClass]="{ 'active': isMultiMode() }"
  [label]="
          isMultiMode() ?
            ((disabledPredicate() ? multiActionLabelDisabled :
                                    multiActionLabel) | translate
            ): ''"
  (click)="multiActionDelegate()"></app-icon-button>
