@import 'src/styles/hav-colors';

:host {
  ::ng-deep app-icon-button {
    display: inline-block;
    margin-left: 0;
    opacity: 0.2;

    &.active {
      opacity: 1;
    }

    &.set-multi-mode {
      font-size: 18px;
      width: 28px;

      &:not(.active):hover {
        opacity: 0.6;
      }
    }
  }

  ::ng-deep app-multi-action-button {
    margin-left: 0.5rem;

    app-icon-button.multi-action {
      &.active {
        color: $hav-blue;

        button{
          &.disabled {
            cursor: not-allowed;
          }

          &:not(.disabled) app-icon {
            &[icontype='delete'] {
              color: $red;
            }
          }
        }
      }
    }
  }
}
