@if (activeScenario !== undefined) {
  @if (getActiveAreaIndex() !== undefined) {
    <app-scenario-area-detail
      [scenario]="getActiveScenario()"
      [areaIndex]="getActiveAreaIndex()"
      [deleteDelegate]="confirmDeleteArea"
      [confirmDeleteChange]="confirmDeleteChange">
    </app-scenario-area-detail>
  } @else {
    <app-scenario-detail
      [scenario]="getActiveScenario()"
      [deleteAreaDelegate]="confirmDeleteArea"
      [deleteAreaAction]="deleteAreaAction"
      [confirmDeleteChange]="confirmDeleteChange"
    ></app-scenario-detail>
  }
} @else {
  <app-scenario-list></app-scenario-list>
}
