@if (menuItems) {
  <nav [attr.aria-label]="menuLabel">
    <ul>
      @for (item of menuItems; track $index) {
        <li>
          <a
            [routerLink]="item.url ? [{ outlets: { primary: item.url, overlay: null } }] : undefined"
            (click)="item.click ? item.click() : onNavigate()"
            (keydown.enter)="item.click ? item.click() : onNavigate()"
            havFocusOutline
            routerLinkActive
            [routerLinkActiveOptions]="{ exact: true }"
            #rla="routerLinkActive"
            [attr.aria-current]="rla.isActive === true"
            >
            @if (item.icon) {
              <fa-icon [icon]="item.icon"></fa-icon>
            }
            {{ item.name | translate }}
          </a>
        </li>
      }
    </ul>
  </nav>
}
