:host {

  section {
    display: flex;
    flex-direction: column;

    p {
      margin-top: 0;
    }

    &::ng-deep {
      label {
        font-size: 1.6rem;
      }

      mat-radio-button {
        display: inline-flex;
        margin: 0.5rem 0;
        align-items: center;

        .mdc-label {
          width: 31.3rem;
          display: flex;
          justify-content: space-between;

          > * {
            display: inline-flex;
          }

          .normalization-label-text {
            width: 23.7rem;
            white-space: break-spaces;
            line-height: 1.8rem;
            align-self: center;
          }

          input {
            width: 6.8rem;
            height: 2.5rem;
          }
        }


      }
    }

    .user-defined {
      margin-top: 1.6rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      label {
        flex: 0;
        margin-right: 1rem;
      }

      input {
        flex: 1;
        font-size: 1.6rem;
        line-height: 3.1rem;
        padding-left: 1rem;
      }
    }
  }
}
