<div class="result-info-panel"></div>
<!--TODO Migrate to use routerLinks instead-->
<app-slide-view position="left"
                [open]="leftSidebarIsOpen"
                (toggle)="toggleLeftSidebar()"
                (navigate)="onNavigate($event)">
  <app-slide-view-tab [title]="'map.areas' | translate" icon="globe">
    <app-area-selection
      [areas]="areas | async"
      [drawUserArea]="toggleDrawArea"
      [zoomToArea]="zoomToArea"
    ></app-area-selection>
  </app-slide-view-tab>
  <app-slide-view-tab [title]="'map.intensity.ecosystems' | translate" icon="fish">
    <app-band-selection
      bandType="ecoComponents"
      [title]="'map.intensity.ecosystems' | translate"
      [bandGroups]="$any(metadata | async).ecoComponent"
    ></app-band-selection>
  </app-slide-view-tab>
  <app-slide-view-tab [title]="'map.intensity.pressures' | translate" icon="human">
    <app-band-selection
      bandType="pressures"
      [title]="'map.intensity.pressures' | translate"
      [bandGroups]="$any(metadata | async).pressureComponent"
    ></app-band-selection>
  </app-slide-view-tab>
  <app-slide-view-tab [id]="'scenario'" [title]="'map.editor.title' | translate" icon="calculate">
<!--    <router-outlet></router-outlet>-->
    <app-scenario-editor></app-scenario-editor> <!-- Add [named?] router-outlet?-->
  </app-slide-view-tab>
  <app-slide-view-tab [title]="'map.history.title' | translate" icon="report">
    <app-history></app-history>
  </app-slide-view-tab>
  <app-slide-view-tab [title]="'map.compare.title' | translate" icon="compare">
    <app-comparison></app-comparison>
  </app-slide-view-tab>
  <div id="map-overlay">
    <app-active-scenario-display *ngIf="activeScenario$ | async"
                                 [scenario]="activeScenario$ | async"
                                 [area]="activeScenarioArea$ | async"
                                 (exit)="exitScenario()">
    </app-active-scenario-display>
    <div
      *ngIf="
        ((legends$ | async).result && this.getVisibleImpact()) ||
         (cmpLegends$ | async)?.length > 0 && this.getVisibleComparison() ||
         (legends$ | async).ecosystem ||
         (legends$ | async).pressure
      "
      class="color-scale-container"
    >
      <app-result-color-scale
        *ngIf="(legends$ | async).result && this.getVisibleImpact()"
        [title]="'map.color-scale.result' | translate"
        [colors]="(legends$ | async).result.colorMap"
        [unit]="(legends$ | async).result.unit"
      ></app-result-color-scale>
      <app-comparison-color-scale
        *ngIf="this.getVisibleComparison()"
        [legends]="(cmpLegends$ | async)"
      ></app-comparison-color-scale>
      <app-result-color-scale
        *ngIf="(legends$ | async).ecosystem"
        [title]="'map.color-scale.ecosystem' | translate"
        [colors]="(legends$ | async).ecosystem.colorMap"
        [unit]="(legends$ | async).ecosystem.unit"
      ></app-result-color-scale>
      <app-result-color-scale
        *ngIf="(legends$ | async).pressure"
        [title]="'map.color-scale.pressure' | translate"
        [colors]="(legends$ | async).pressure.colorMap"
        [unit]="(legends$ | async).pressure.unit"
      ></app-result-color-scale>
    </div>
    <div id="scale-container"></div>
  </div>
</app-slide-view>
<app-map [mapCenter]="center"
         (resultLayerGroupChange)="setVisibleImpact($event)"
         (resultLayerGroupChangeCmp)="setVisibleComparison($event)">
</app-map>
<div id="scenario-area-selection-hint" class="mouse-interface-hint" *ngIf="scenarioAreaSelection && ((activeScenarioArea$ | async) == undefined)">
      <span>
        <strong>{{ 'map.area-selection-hint.emphasis' | translate}}</strong>
        {{ 'map.area-selection-hint.detail' | translate}}
      </span>
</div>
<div id="special-actions-hint"
     [ngClass]="{'mouse-interface-hint' : true,
                 'two-hints' : scenarioAreaSelection && ((activeScenarioArea$ | async) == undefined) }"
     *ngIf="singleSelection">
      <span>
        <strong>{{ 'map.special-actions-hint.emphasis' | translate}}</strong>
        {{ 'map.special-actions-hint.detail' | translate}}
      </span>
</div>
<app-batch-progress-display>
</app-batch-progress-display>
