<section class="padded-container">
  <div class="title">
    <h2 *ngIf="!editName" (click)="editTheName()" tabindex="0">{{ scenario.name }}</h2>
    <input *ngIf="editName" #name type="text" [value]="scenario.name"
           (keydown.enter)="onChangeName($event.target.value)"
           (blur)="onChangeName($event.target.value)">
    <button (click)="editTheName()">
      <app-icon iconType="edit"></app-icon>
    </button>
  </div>
  <div [ngClass]="{'is-dirty': this.unsaved, 'scenario-info-stripe' : true, 'active-save': !this.unsaved && this.savedByInteraction }">
    <span class="scenario-timestamp">{{ scenario.timestamp | date: 'yyyy-MM-dd HH:mm' }}</span>
    <button class="save-immediate" (click)="saveImmediate()"
            title="{{ 'map.editor.save-changes' | translate }}">
      {{ 'map.editor.unsaved-changes' | translate }}
    </button>
    <div class="interactive-save-indication"
          title="{{ 'map.editor.saved-by-user-time' | translate :
                  { timestamp: scenario.timestamp | date: 'HH:mm'} }}">
      {{ 'map.editor.saved-by-user' | translate }}
    </div>
  </div>
  <main>
    <section class="scenario-areas">
      <h3>{{ 'map.editor.areas.title' | translate }}</h3>
      <app-icon-button icon="split"
        class="batch-options-button"
        *ngIf="scenario.areas.length > 1"
        [label]="'map.editor.split-scenario-settings.title' | translate"
        (iconClick)="openSplitDialog()">
      </app-icon-button>
      <app-add-scenario-areas
        [disabled]="(calculating$ | async) || (areaMatricesLoading$ | async)"
        [noneSelectedTipKey]="'map.editor.areas.select-area-first-label'"
        [singleSelectedTipKey]="'map.editor.areas.add-scenario-label-single'"
        [multipleSelectedTipKey]="'map.editor.areas.add-scenario-label'"
        [clickDelegate]="this.addScenarioArea"
        [scenario]="scenario"
      ></app-add-scenario-areas>
      <div class="scenario-areas-wrap">
        <div class="pendingMatricesOverlay" *ngIf="areaMatricesLoading$ | async">
          <mat-spinner diameter="32"></mat-spinner>
          <span class="loadingMessage">{{ 'map.editor.areas.loading-matrices' | translate }}</span>
        </div>
        <ul [class]="(areaMatricesLoading$ | async) ? 'pendingMatrices' : ''">
          <li *ngFor="let area of scenario.areas; let aix = index" (click)="openScenarioArea(aix)"
              tabindex="0">
            <span class="feature-name">{{ area.feature.properties['name'] }}</span>
            <div class="actions">
              <ng-container *ngIf="area.changes">
                <app-icon iconType="not-equal" *ngIf="!isEmpty(area.changes)"
                          title="{{ 'map.editor.areas.specific-settings'
                          | translate: { 'feature-changes': getChangesText(aix) }  }}">
                </app-icon>
              </ng-container>
              <app-icon iconType="delete" (click)="deleteAreaDelegate(area.id, $event, scenario)"
                        title="{{ 'map.editor.areas.remove.label' | translate }}">
              </app-icon>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="scenario-changes">
      <h3>{{ 'map.editor.changes.title' | translate }}</h3>
      <div class="changes-tools">
        <app-icon iconType="table"
                  (click)="openIntensityOverview()"
                  title="{{ 'map.editor.changes-overview.show-overview' | translate }}"
                  *ngIf="anyChanges()"></app-icon>
        <app-icon iconType="copy-setting"
                  (click)="importChanges()"
                  title="{{ 'map.editor.transfer-changes.tooltip' | translate }}"></app-icon>
      </div>
      <app-changes-list
        [changes]="changes()"
        [deleteChange]="deleteChange"
        [bandDictionary]="bandDictionary$ | async">
      </app-changes-list>
    </section>

    <section class="algorithm">
      <h3>{{ 'map.editor.operation.title' | translate }}</h3>
      <article>
        <mat-radio-group [formControl]="operation" (change)="setOperation()">
          <mat-radio-button *ngFor="let op of availableOperations | keyvalue" [value]="op.key">
            {{ 'map.editor.operation.'+op.key+'.title' | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </article>
      <article *ngIf="operation.value === 'RarityAdjustedCumulativeImpact'">
        <p>{{ 'map.editor.operation.RarityAdjustedCumulativeImpact.options.domain.description' | translate}}</p>
        <mat-radio-button *ngFor="let paramValue of ['GLOBAL', 'LOCAL']"
                          value="{{paramValue}}" [checked]="getParams().domain === paramValue"
                          (change)="onCheckRarityIndicesDomain(paramValue)">
          {{ 'map.editor.operation.RarityAdjustedCumulativeImpact.options.domain.' + paramValue | translate }}
        </mat-radio-button>
      </article>
    </section>

    <section class="normalization"> <!--Wrap in accordion-box?-->
      <h3>{{ 'map.editor.normalization.title' | translate }}</h3>
      <app-normalization-selection [options]="getNormalizationOptions()" [algorithm]="operation.value"
                                   [percentileValue]="this.percentileValue$ | async"
        (modeSelectionEvent)="setNormalizationOptions($event)">
      </app-normalization-selection>
    </section>

  </main>

</section>

<div class="toolbar">

  <button mat-flat-button id="exit" (click)="close()" [ngClass]="'basic'">
    {{ 'map.editor.close' | translate }}
  </button>

  <button mat-flat-button id="delete" color="warn" [ngClass]="'secondary'" (click)="delete()">
    {{ 'map.editor.delete.label' | translate }}
  </button>

  <button mat-flat-button id="calculate"
          [disabled]="(calculating$ | async) || (areaMatricesLoading$ | async)"
          (click)="calculate()"
  >
    {{ 'map.editor.calculate' | translate }}
  </button>

  <button mat-flat-button id="report-button" [ngClass]="{'green' : (calculating$ | async) === false, 'mat-button-disabled' : calculating$ | async }"
          (click)="showReport(scenario.latestCalculationId+'')"
          [disabled]="!scenario.latestCalculationId">
    <mat-spinner *ngIf="calculating$ | async" diameter="20" color="#22bb00"></mat-spinner>
    <app-icon *ngIf="(calculating$ | async) === false" iconType="report"></app-icon>
  </button>
</div>
