@import 'src/styles/constants';
@import 'src/styles/hav-colors';
@import 'src/styles/margins';

:host {
  section {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 2.2rem;
    display: grid;
    row-gap: 3rem;

    h2 {
      margin: 0;
    }

    .selection-info {
      display: flex;
      min-height: 4.8rem;
      height: auto;
      margin: 8px 0 0;
      justify-content: space-between;

      .active-scenario-display {
        display: flex;
        flex-direction: column;

        span {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          line-height: 2.1rem;
          font-size: 1.4rem;
          letter-spacing: 0;
          font-weight: 400;
          color: #818181;
          margin-bottom: 0.4rem;

          app-icon {
            color: $hav-turquoise;
            font-size: 2.2rem;
          }

          &.scenariowide-settings {
            color: $light-gray
          }
        }
      }

      button {
        background-color: #fff;
        border: 2px solid $hav-turquoise;
        border-radius: 2px;
        color: $hav-turquoise;
        height: 32px;
        margin: auto 0 auto 0.4rem;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        outline: 0;
        padding: 0 16px;
        cursor: pointer;

        &:hover {
          background-color: #00639b;
          border-color: #00639b;
          color: #fff;
        }
      }
    }

    main {
      box-sizing: border-box;
      max-height: calc(100vh - 29rem);
      overflow-y: auto;
      overflow-x: hidden;
      display: grid;
      grid-row-gap: 1.2rem;

      button {
        font-weight: 500;
        font-size: 1.4rem;
        color: $hav-turquoise;
        justify-self: end;
        background: none;
        outline: none;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }

      app-accordion-box {
        app-accordion-box-header {
          h4 {
            margin: 0;
            font-weight: 600;
            color: #333;
          }
        }
      }
    }
  }
}
