<section>
  <div>
    <h2>{{ title }}</h2>
    <div *ngIf="selectedAreaName || showResetButton" class="selection-info">
      <span>{{ selectedAreaName }}</span>
      <button *ngIf="showResetButton" (click)="reset()" title="{{
        'map.reset-preselected-description' | translate
      }}">{{
        'map.reset-preselected' | translate
        }}</button>
    </div>
  </div>
  <app-search-input
    [label]="searchLabel"
    [value]="searchValue"
    [onChange]="onSearch"
    [placeholder]="searchPlaceholder"
  ></app-search-input>
  <main>
    <ng-content></ng-content>
  </main>
</section>
