<section>
  <div>
    <h2>{{ title }}</h2>
    @if (!areaTab) {
      <div class="selection-info">
        @if (isLoggedIn$ | async) {
          <div class="active-scenario-display">
            @if (selectedScenarioName) {
              <span>{{ selectedScenarioName }}</span>
            }
            @if (!selectedScenarioName) {
              <span>{{ 'map.no-active-scenario' | translate }}</span>
            }
            @if (selectedScenarioName && selectedAreaName) {
              <span>{{ selectedAreaName }}</span>
            }
            @if (!selectedAreaName && !!selectedScenarioName) {
              <span class="scenariowide-settings">{{
                'map.scenariowide-settings' | translate
              }}</span>
            }
          </div>
          @if (showResetButton) {
            <button (click)="reset()" title="{{ 'map.reset-preselected-description' | translate }}">
              {{ 'map.reset-preselected' | translate }}
            </button>
          }
        }
      </div>
    }
  </div>
  <app-search-input
    [label]="searchLabel"
    [value]="searchValue"
    [onChange]="onSearch"
    [placeholder]="searchPlaceholder"
  ></app-search-input>
  <main>
    <ng-content></ng-content>
  </main>
</section>
