:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 2rem;
  vertical-align: top;

  h4 {
    margin: 0;
    margin-bottom: 5mm;
    font-weight: 600;
  }

  table {
    font-size: 12px;

    tr.title-row {
      text-align: left;
      text-transform: uppercase;

      th {
        padding-bottom: 4px;
        vertical-align: middle;
      }
    }

    tr:not(.title-row)>th {
      text-align: left;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      p {
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        &:not(:first-child) {
          padding-left: 10px;
        }
      }
    }
  }

  p.no-changes {
    font-size: 12px;
    font-weight: 500;
  }
}
