@import 'src/styles/hav-colors';

:host {
  break-inside: avoid-page;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h4 {
    margin: 0;
    margin-bottom: 5mm;
    font-weight: 600;
  }

  table {

    font-size: 12px;
    width: 100%;

    &.comparison {
      table-layout: fixed;
    }

    tr {
      &.title-row {
        text-align: left;
        text-transform: uppercase;

        th {
          padding-bottom: 4px;
        }

        &:not(:first-child) {
          th {
            padding-top: 16px;
          }
        }

        &.scenario-wide {
          th {
            padding-bottom: 8px;
          }
        }
      }

      &.area-row {
        th {
          font-size: 1.3rem;
          line-height: 2rem;
          font-style: oblique;
          padding: 0.6rem 0 0 1rem;
          border-bottom: 1px solid $hav-coldgrey;
        }
      }

      &:not(.title-row) > th {
        text-align: left;
      }

      th.change-label {
        width: 44%;
        overflow: hidden;
      }

    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      p {
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        &:not(:first-child) {
          padding-left: 10px;
        }
      }
    }
  }

  p.no-changes {
    font-size: 12px;
    font-weight: 500;
  }
}
