<div class="collaborating_parties">
  <span class="collaboration_label">{{ 'wio.login.in-collaboration' | translate }}:</span>
  <div class="national_parties_flags">
    <img class="flag km">
    <img class="flag fr">
    <img class="flag ke">
    <img class="flag mg">
    <img class="flag mu">
    <img class="flag mz">
    <img class="flag sc">
    <img class="flag so">
    <img class="flag za">
    <img class="flag tz">
  </div>
  <div class="org_parties_logotypes">
    <div class="principal_orgs">
      <a href="https://www.nairobiconvention.org/" target="_blank">
        <div class="org_logo nc"></div>
      </a>
      <a href="https://www.unep.org/" target="_blank">
        <div class="org_logo unep"></div>
      </a>
    </div>
    <div class="swam_border">
      <div class="sweden_brand"></div>
      <a href="https://www.havochvatten.se{{ swedish_locale() ? '' : '/en' }}" target="_blank">
        <div [ngClass]="{ 'SWaM_logo' : true, 'eng' : !swedish_locale() }"></div>
      </a>
    </div>
  </div>
</div>
<div class="front-acknowledgement">
  <p>{{ 'wio.login.acknowledgement-1' | translate }}</p>
  <p>{{ 'wio.login.acknowledgement-2' | translate }}<a href="https://www.nairobiconvention.org/wio-symphony/">www.nairobiconvention.org/wio-symphony</a></p>
</div>
