@import 'src/styles/hav-colors';

:host {
  z-index: 2;
  .collaborating_parties {
    text-align: center;
    margin-top: 3rem;

    .collaboration_label {
      font-size: 1.4rem;
    }

    .national_parties_flags {
      display: flex;
      .flag {
        &.km {
          content: url("~src/assets/wio/flags/flags.km.svg");
        }
        &.fr {
          content: url("~src/assets/wio/flags/flags.fr.svg");
        }
        &.ke {
          content: url("~src/assets/wio/flags/flags.ke.svg");
        }
        &.mg {
          content: url("~src/assets/wio/flags/flags.mg.svg");
        }
        &.mu {
          content: url("~src/assets/wio/flags/flags.mu.svg");
        }
        &.mz {
          content: url("~src/assets/wio/flags/flags.mz.svg");
        }
        &.sc {
          content: url("~src/assets/wio/flags/flags.sc.svg");
        }
        &.so {
          content: url("~src/assets/wio/flags/flags.so.svg");
        }
        &.za {
          content: url("~src/assets/wio/flags/flags.za.svg");
        }
        &.tz {
          content: url("~src/assets/wio/flags/flags.tz.svg");
        }
      }
    }

    @media (hover: hover) {
      .national_parties_flags {
        height: 11rem;
        width: 100vw;
        justify-content: center;
        margin-top: 3rem;

        .flag {
          height: 3.3vw;
          max-width: 8vw;
          max-height: 8.7rem;
          margin: 0 1vw;
        }
      }
    }

    @media (hover: none) {
      .national_parties_flags {
        width: 95vw;
        flex-wrap: wrap;
        margin: 0.8rem auto 5rem;

        .flag {
          flex: 1 0;
          flex-basis: 18.9%;
          max-height: 8vw;
          margin-top: 1rem
        }
      }
    }

    .org_parties_logotypes {
      .principal_orgs {
        display: flex;
        justify-content: center;
        margin: 3rem 0 5rem;

        .org_logo {
          height: 12.4rem;
          max-height: 20vw;

          &.nc{
            content: url("~src/assets/wio/nc_logo-tmp.png");
            margin-right: 8rem;
          }

          &.unep {
            content: url("~src/assets/wio/unep_logo.svg");
          }
        }
      }

      .swam_border {
        display: flex;
        justify-content: center;

        div {
          background-repeat: no-repeat;
          background-size: auto 10rem;
          border: 2.5px solid $hav-borderblue;
          width: 23rem;
          height: 9rem;
          max-width: 42vw;

          &.sweden_brand {
            background-image: url("~src/assets/sweden-logotype-english.svg");
            background-position: 0 50%;
            border-right: 0;
          }

          &.SWaM_logo {
            background-position: center;
            background-image: url("~src/assets/hav-logo-black.svg");

            &.eng {
              background-image: url("~src/assets/hav-logo-black-eng.svg");
            }
          }

          @media (hover: hover) {
            &.sweden_brand {
              background-size: auto 9rem;
            }

            &.SWaM_logo {
              background-size: auto 6rem;
            }
          }

          @media (hover: none) {
            &.sweden_brand {
              background-size: auto 17.8vw
            }

            &.SWaM_logo {
              background-size: auto 15.2vw;

              &.eng {
                background-size: auto 11.8vw;
              }
            }
          }
        }
      }
    }
  }

  .front-acknowledgement {
    text-align: center;
    margin: 5rem 2rem 0;
    padding-bottom: 5rem;

    @media (hover: hover) {
      p {
        font-size: 1.3rem;
        line-height: 1.6rem;
        margin: 0 0 0.3rem;
      }
    }

    @media (hover: none) {
      p {
        font-size: 1.1rem;
        line-height: 1.6rem;
        margin: 0 0 1.4rem;
      }
    }
  }
}
