@import 'src/styles/constants';
@import 'src/styles/hav-colors';
@import 'src/styles/margins';
@import 'src/styles/paddings';

$button-height: 6rem;
$buttons-row-gap: 1rem;

:host {
  section {
    width: 100%;
    height: calc(100vh - 7.5rem - 0.8rem);

    display: flex;
    flex-direction: column;

    .top-tray {
      display: flex;
      justify-content: space-between;

      h2 {
        margin: 0 0 0.5em;
      }

      app-multi-tools {
        margin-top: 0.7rem;
      }
    }

    .area-name {
      color: $medium-gray;
      margin: 0 0 0.4rem;
    }

    .title-container {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;

      h3 {
        margin: 0;
        margin-bottom: 1rem;
      }
    }

    .list-filter-container {
      padding: 0 0 1rem;
    }

    .divider {
      height: 1px;
      width: 100%;
      background-color: #ddd;
    }

    section.list-section {
      flex: 1 1;
      margin: 1rem 0;
      box-sizing: border-box;

      display: grid;
      grid-template-columns: 100%;
      row-gap: $buttons-row-gap;
      grid-auto-rows: min-content;
      overflow-x: hidden;
      overflow-y: auto;

      .scenario-wrap {
        position: relative;

        &.filtered {
          display: none;
        }

        .batch-selected-wrap {
          position: absolute;
          background-color: white;
          top: 14px;
        }
      }

      .scenario {
        box-sizing: border-box;
        border: 1px solid #707070;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: stretch;

        &:hover {
          ul.scenario-areas li.more-areas {
            background-color: $hav-coldgrey;
          }
        }

        .scenario-info {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;

          h4 {
            margin: 0;
            text-align: left;
            font-size: 1.4rem;
            line-height: 1.9rem;
            color: #232323;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
          }

          .name {
            display: flex;
            flex-direction: row;

            app-icon {
              display: none;
              font-size: 1.2rem;
              margin-left: 0.4rem;
            }

            input { // TODO grow to 100%
              border-radius: 4px;
              border: 1px solid $hav-darkcoldgrey;
              margin-left: -3px;
              font-size: 1.6rem;
              flex: 1;
            }
          }
        }

        ul.scenario-areas {
          display: flex;
          flex-direction: column;
          list-style: none;
          padding: 0;
          margin: 1rem 0 0;

          li {
            display: flex;
            background-color: white;
            padding: 1rem;
            margin: 0 0 0.5rem;
            border: 1px dotted black;
            font-size: 1.4rem;
            align-items: center;
            line-height: 2rem;
            flex: 1;

            .feature-name {

            }

            &:last-child {
              margin-bottom: 0;
            }

            &.more-areas {
              border: 1px solid transparent;
              color: $hav-darkergrey;
            }
          }

          &.abundant {
            li {
              padding: 0.4rem 0.8rem 0.3rem;
              margin: 0 0 0.45rem;
              line-height: 1.55rem;
              font-size: 1.25rem;
            }
          }
        }
      }
    }

    #no-scenarios {
      text-align: center;

      span {
        display: inline-block;
        box-sizing: border-box;
        height: 2.8rem;
        font-size: 1.6rem;
        letter-spacing: 0;
        font-weight: 400;
        color: $medium-gray;
        padding: 5rem 0;

        app-icon {
          color: $hav-turquoise;
          font-size: 4.2rem;
        }
      }
    }

    &.batch-mode {
      section.list-section .scenario-wrap .scenario {
        width: calc(100% - 0.6rem);
        margin: 0 0 0 auto;
        padding-left: 1.5rem;
      }
    }
  }
}
