name: Java CI with Maven

on:
  push:
    branches: [ "main", "develop", "release/**" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      working-directory: ./symphony-ws
      run: mvn -B package --file pom.xml -Pskip-apitests
