:host {
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999999999;
    background-color: #092d4b50;
    display: flex;
    justify-content: center;
    align-items: center;

    article {
      padding: 1.5rem;
      box-sizing: border-box;
      width: 36rem;
      height: 24rem;
      background-color: white;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #e3e3e3;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
          margin-bottom: 0.6rem;
        }

        h3 {
          margin: 0;
          font-weight: 500;
        }

        p {
          margin-top: 1rem;
        }
      }
    }
  }
}
